
<div class="merchantSignInWrapper POSfullPageWrap">
<% if @brands.count > 0 %>

<h1>Listing brands</h1>
<div class="bankCell POSsingleColumn">
    <%= will_paginate(@brands) %>
</div>
<table>
  <tr style="color:#ccc">
    <th>Name</th>
    <th>Website</th>
    <th>Photo url</th>
    <th>Brand</th>
    <th>Building</th>
  </tr>

    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.website %></td>
            <% if brand.has_photo? %>
        <td><%= custom_image_tag(brand, 50, 50) %></td>
            <% else %>
        <td></td>
            <% end %>

                <% if brand.id == @provider.brand_id %>
        <td><%= link_to 'YES', brand_provider_path(@provider, :offset => @page, :brand => brand.id)%>
        </td>
                <% elsif @provider.brand_id.nil? %>
        <td><%= link_to 'Add', brand_provider_path(@provider, :offset => @page,:brand => brand.id) %>
        </td>
                <% else %>
        <td>N/A</td>
                <% end %>

                <% if brand.id == @provider.building_id   %>
        <td><%= link_to 'YES', building_provider_path(@provider, :offset => @page, brand: brand.id) %>
        </td>
                <% elsif @provider.building_id.nil? %>
        <td><%= link_to 'Add', building_provider_path(@provider,:offset => @page, :brand => brand.id) %>
        </td>
                <% else %>
        <td>N/A</td>
                <% end %>
      </tr>
    <% end %>
</table>
<% end %>
<br />

</div>
