<%= render 'form' %>
<div class="bankCell POSsingleColumn">
  <div class="merchantSignUpObject rounded gradient">
	<h2><%= @provider.name %> is : <strong><%= @go_live[0] %></strong></h2>
	<h2><%= link_to @go_live[1] , coming_soon_provider_path(@provider), :confirm => "#{@provider.name} #{@go_live[1]} , Are you sure ?"   %></h2>
</div></div>
<div class="bankCell POSsingleColumn">
  <div class="merchantSignUpObject rounded gradient">
	<h2><%= @provider.name %> : <strong><%= @active[0] %></strong></h2>
	<h2><%= link_to @active[1], de_activate_provider_path(@provider), :confirm => "#{@active[1]} #{@provider.name}, Are you sure ?"   %></h2>
</div></div>

