<div class="merchantSignInWrapper POSfullPageWrap">
<h1>Editing provider</h1>

<%= render 'form' %>
<div>
	<h1>Merchant LIVE status</h1>
	<h1><%= @go_live[0] %></h1>
	<h1><%= link_to @go_live[1] , coming_soon_provider_path(@provider) %></h1>
</div>
<div>
	<h2>Merchant Active Status</h2>
	<h2><%= @active[0] %></h2>
	<h2><%= link_to @active[1], de_activate_provider_path(@provider) %></h2>
</div>

</div>