<div class="merchantSignInWrapper POSfullPageWrap">
<table>
  <h1 colspan="4"  style="color:#ccc">Check Out Merchants</h1>
    <% unless (@page == 0 && @offset == 0)  %>
      <%= link_to 'Next Page', providers_path({offset: @offset}) %>
    <% end %>
  <tr style="color:#ccc">
    <th>Photo</th>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
  </tr>

  <% @merchants.each do |provider| %>
    <tr>
      <td><%= custom_image_tag(provider,180,90)  %></td>
      <td><%= link_to provider.name, provider %></td>
      <td><%= provider.description %></td>
      <td><%= provider.full_address %></td>
    </tr>
  <% end %>
</table>
</div>

