<div class="merchantSignInWrapper POSfullPageWrap">
<div class="bankCell POSsingleColumn">
<%= will_paginate(@merchants) %></div>
<table>
  <h1 colspan="4"  style="color:#ccc">Check Out Merchants</h1>

  <tr style="color:#ccc">
    <th>Photo</th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </tr>

  <% @merchants.each do |provider| %>
    <tr>
      <td><%= custom_image_tag(provider,180,90)  %></td>
      <td><%= link_to provider.name, provider %></td>
      <td><%= provider.full_address %></td>
      <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    </tr>
  <% end %>
</table>
</div>

