<div class="merchantSignInWrapper POSfullPageWrap">
<% if @menu_array.count > 0 %>

<h2>Menu</h2>
<% @menu_array.each do |section_items| %>
	<% section = section_items[0] %>
	<% items = section_items[1] %>

	<h1><%= section %></h1>
	<table style="width:95%">
		<tr style="color:#ccc">
		  <th>Item</th>
		  <th>Description</th>
		  <th>Price</th>
		  <th>&nbsp;</th>
		</tr>

	    <% items.each do |item| %>
	      <tr>
	        <td><%= item["item_name"] %></td>
	        <td style="text-align: center;"><%= item["description"] %></td>
	        <td style="text-align: center;"><%= item["price"] %></td>
	        <td style="text-align: right;"><%= link_to "Edit", menu_item_provider_path(@provider, menu_item: item["menu_item_id"], section: section) %> </td>	                
	      </tr>
	    <% end %>
	    <tr>
	    	<td colspan=4 style="text-align: center;"><%= link_to "Add new #{section}", menu_item_provider_path(@provider, section: section) %></td>
	    </tr>
	</table>
<% end %>
	        
<% end %>
<br /><br /><br /><br /><br />
</div>