<!-- Providers permalink page -->
<div class="merchantSignInWrapper POSfullPageWrap">

<div class="providersPermalinkWrapper">
  <h2 class="providerHeader"><%= @provider.name %></h2>
 
  <h2>"<%= @provider.description %>"</h2>
  <h2><%= number_to_phone @provider.phone %></h2>
  <h2><%= @provider.full_address %></h2>
  <%= link_to custom_image_tag(@provider,600,320), add_photo_provider_path(@provider)  %>
</div>
</div>

