<!-- Providers permalink page -->
<div class="merchantSignInWrapper POSfullPageWrap">

<div class="providersPermalinkWrapper">
  <h2 class="providerHeader"><%= @provider.name %></h2>
  <h1>Zinger:</h1><h2> "<%= @provider.zinger %>"</h2>
  <h1>Description:</h1><h2> "<%= @provider.description %>"</h2>
  <h1>Phone:</h1><h2> <%= number_to_phone @provider.phone %></h2>
  <h1>Full Address: </h1><h2><%= @provider.full_address %></h2>
  <% if @provider.photo.url.blank? || @provider.get_photo == MERCHANT_DEFAULT_IMG %>
  	<h2><%= link_to "Add Photo", add_photo_provider_path(@provider)  %></h2>
  <% else %>
  	<%= link_to custom_image_tag(@provider,600,320), add_photo_provider_path(@provider)  %>
  <% end %>
</div>
</div>
  <% if !@provider.tools %>
<div class="bankCell POSsingleColumn">
  <div class="merchantSignUpObject rounded gradient">
    <p id="notice"><%= notice %></p>
    <h2>Open <strong><%= @provider.name %></strong> Account on Merchant Tools ?</h2>
    <h2><%= link_to "Create Merchant Tools Account", create_merchant_tools_provider_path(@provider), :confirm => "Loading Data onto Merchant Tools, Are you sure ?"   %></h2>
</div></div>
  <% else %>
<div class="bankCell POSsingleColumn">
  <div class="merchantSignUpObject rounded gradient">
    <p id="notice"><%= notice %></p>
    <h2>Email employee to open Merchant tools account?</h2>
    <h2>Click on Staff tab above and choose 'invite employee'</h2>
</div></div>
  <% end %>
