<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Description:</b>
  <%= @provider.description %>
</p>

<p>
  <b>Address:</b>
  <%= @provider.address %>
</p>

<p>
  <b>City:</b>
  <%= @provider.city %>
</p>

<p>
  <b>State:</b>
  <%= @provider.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @provider.zip %>
</p>

<p>
  <b>User:</b>
  <%= @provider.user_id %>
</p>

<p>
  <b>Logo:</b>
  <%= @provider.logo %>
</p>

<%= link_to 'Back', providers_path %>
