<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <title>ItsOnMe Gift Certificate</title>
	<style type="text/css">
		h2 { padding-top: 10px; }
		table { border-collapse:collapse; border: none; padding: 0; margin: 0; width:95%;}
		td {
			padding-top: 10px;
			padding-right: 10px;
	   		border:none;
		}
		ul {
			list-style-type: none;
		}
		.merchant_image {
			border:5px solid #333;
			border-radius: 10px !important;
			height: 200px;
			width: 90%;
		}
		.user_image {
			border:2px solid #333;
			border-radius: 10px !important;
			height: 44px;
		}
		.logo_icon {
			height: 30px;
			padding-top: 10px;
			padding-left: 60px;
			float:right;
		}
		.top-bar { display: none !important; }
	</style>
</head>

<body>


<div style="border: 10px solid #000; border-radius: 20px !important; width: 650px; padding: 10px 10px 10px 20px !important;">
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<p style='text-align: center;'>
					<span style='float:left;padding-right:10px;'><%= wicked_pdf_image_tag 'http://res.cloudinary.com/drinkboard/image/upload/v1472847395/email_elements/Icon-60.png' %></span>
					<h1 style="color: #28A9E0;">
						<span style="font-size: 35px;font-weight: bold;font-family: 'Arial Rounded MT Bold';margin-top:4px;">ItsOn.Me</span>
					</h1>
				</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan='2'>
				<ul>
					<li style="margin-left: 10px;">
						<%= wicked_pdf_image_tag(@gift.merchant.get_photo,  class: "merchant_image") %>
					</li>
					<li>
						<h2 style="text-align:center;font-size: 18px;font-weight: bold; font-family: 'Arial Rounded MT Bold';">
							<b><%= @gift.merchant.name %></b>
						</h2>
					</li>
					<li>
						<div style="text-align:center;"><%= @gift.merchant.html_complete_address %></div>
					</li>
				</ul>
			</td>
		</tr>
		<tr style="background-color: #eeeeee;">
			<td colspan='2'>
				<ul>
<!-- 					<li style="text-align: center;"><i style="text-align: center; font-size: 130%;">To: <%= @gift.receiver_name %></i>
					</li> -->
					<li>
						<h2 style="padding-right: 15px;text-align:center;font-size: 18px;font-weight: bold; font-family: 'Arial Rounded MT Bold';">
							<b><%= @gift.message %></b>
						</h2>
					</li>
					<li>
						<h2 style="text-align: center; font-weight: bold; font-family: 'Arial Rounded MT Bold';">
							<%= display_money(cents: @redemption.amount, ccy: @gift.ccy) %> (<%= @redemption.amount_words(@gift.ccy) %>)
						</h2>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<ul style="padding-top: 10px;">
					<li style='text-align: center;'>
						<div style="background-color: #E5E6E7;border: 5px solid #000; border-radius: 10px !important;">
							<h2><b style="padding: 50px;line-height: inherit;box-sizing: border-box;"><%= @redemption.paper_id %></b></h2>
						</div>
					</li>
					<li style='text-align: center;'>
						<div><i style="font-size: 130%;">gift voucher ID</i></div>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>
						<p style="font-size: 12px; padding-top: 5px;">
							<div style="text-align: right;"><b>Need help?</b></div>
							<div style="text-align: right;">Text > 310-235-3835</div>
							<div style="text-align: right;">Email > support@itson.me</div>
							<div style="text-align: right;">Web > www.itson.me</div>
						</p>
					</li>
					<li>
						<div style="text-align: right; padding: 5px;">Powered by</div>

						<div style="text-align: right;">
							<%= wicked_pdf_image_tag 'http://res.cloudinary.com/drinkboard/image/upload/v1472847303/email_elements/IOM_APP_HEADER_LOGO.png', width: '80' %>
						</div>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>


</body>
</html>



