<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
	<%= wicked_pdf_stylesheet_link_tag "paper-cert-layout" %>
	<%= wicked_pdf_stylesheet_link_tag "paper-cert" %>
</head>
<body class="paper-cert">
	<section class="page page-1">

		<header class="header"><h1>Your Gift Certificate</h1></header>

		<section class="container section-gift-card">
			<div class="gift-card">
				<div class="row">
					<div class="col col-65">
						<div class="gift-card-parties">
							<span>To: <%= @gift.receiver_name %></span><br />
							<span>From: <%= @gift.giver_name %></span><br />
						</div>
						<div class="gift-card-location">
							<div class="row">
								<div class="col col-33 gift-card-qr">
									<!--REPLACE-->
									<img src="https://api.itson.me/resources/qr?content=<%= @redemption.hex_id %>&size=150&padding=0" />
								</div>
								<div class="col col-60">
									<strong><%= @gift.provider_name %></strong>
									<% if @gift.merchant.multi_redeemable? %>
										<span>Redeemable at <%= @gift.provider_name %> Locations</span>
									<% else %>
										<span><%= @gift.merchant.html_complete_address %></span>
									<% end %>
								</div>
							</div>
						</div>
						<div class="gift-card-voucher-id">
							<span class="gift-card-label">Voucher ID:</span>
							<span><%= @redemption.paper_id %></span>
							<% if @redemption.gift.expires_at.present? %>
								<br/>
								<span class="gift-card-label">Expires on:</span>
								<span><%= @redemption.gift.expires_at.strftime("%A %h %d, %Y") %></span>
							<% end %>
						</div>
					</div>
					<div class="col col-35">
						<div class="gift-card-amount">
							<!-- The following must all be on a single line as any whitespace between tags breaks the layout. -->
							<span class="gift-card-currency">$</span><%= @value_dollars %><div class="gift-card-currency-extra">
								<span class="gift-card-cents">.<%= @value_cents %></span>
								<span class="gift-card-currency-type"><%= @redemption.ccy %></span>
							</div>
						</div>
						<% unless @items.empty? %>
							<div class="gift-card-items">
								<div><small>Use for:</small></div>
								<% @items.each do |item| %>
									<div><%= item %></div>
								<% end %>
								<div><small>(or simply apply amount to any bill)</small></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<% if @gift.detail.present? %>
				<div class="gift-card-details">
					<strong>Gift Details:</strong>
					<%= @gift.detail[0..200] %>
				</div>
			<% end %>
		</section>

		<section class="container section-instructions">
			<div class="row">
				<div class="col col-50">
					<h2>Recipient Instructions:</h2>
					<p>
						This voucher is your gift certificate. Present this voucher at the venue listed above at the time of payment. Don't forget to tip!
					</p>
				</div>
				<div class="col col-50">
					<h2>Merchant Instructions:</h2>
					<p>
						To verify and redeem this certificate, scan the QR code or enter the voucher ID shown above in the Merchant Tools section of the ItsOnMe app.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-33">
					<h2>Questions?</h2>
					<p>
						Contact ItsOnMe Support:
					</p>
				</div>
				<div class="col col-33">
					<h3>Text</h3>
					<p>
						310.235.3835
					</p>
				</div>
				<div class="col col-33">
					<h3>Email</h3>
					<p>
						support@itson.me
					</p>
				</div>
			</div>
		</section>

		<section class="container container-shaded section-about">
			<div class="logo">
				<img src="https://res.cloudinary.com/drinkboard/image/upload/c_scale,h_50/v1524846779/app/paper-certs/logo.png" />
			</div>
			<p>
				ItsOnMe makes it easy for you to think global but gift local.
			</p>
			<p>
				Visit <a>www.itson.me</a> or download the app to discover the best gifts at locally and
				nationally celebrated businesses you can gift instantly or scheduled for delivery.
			</p>
			<div class="card-samples">
				<ul>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/Burger_Card.png" /></li>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/Haircut_Card.png" /></li>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/FineDining_Card.png" /></li>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/Golf_Card.png" /></li>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/Drinks_Card.png" /></li>
					<li><img src="https://res.cloudinary.com/drinkboard/image/upload/v1524846790/app/paper-certs/Steaks_Card.png" /></li>
				</ul>
			</div>
		</section>

	</section>
</body>
</html>
