<div class="doubleColumn">
	<ul>
		<li style="width:500px;padding-top:30px;">
		  <h1 style="letter-spacing:0.1em;">Enter New Password</h1>
		</li>
		<li class="ordersDisplay" style="width:450px;">
			<%= form_for(@user, url: enter_new_password_path) do |f| %>
			<div class="inputWrap" style="width:376px;">	
        		<%= f.password_field :password, :placeholder => 'Password', :class => "miTitleForm rounded inputFieldObj formObj" %>
        		<%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => "miTitleForm rounded inputFieldObj formObj" %>
				<%= hidden_field_tag(:reset_token, @user.reset_token)%>
				<%= f.submit "Submit", class: "buttonInput buttonImageUp signInPOS", style: "margin-top: -45px;padding:4px;" %>
      		</div>
			<% end %>
		</li>
		<li><%= render 'shared/flash', flash: flash %></li>
	</ul>
</div>
