<div class="doubleColumn">
	<% if @progress == 3 %>
		<div class="ordersDisplay" style="width:550px;">
		<h2>The reset token you were sent is invalid or has expired. Try resetting your password again.</h2>
		</div>
	<% end %>

	<% if @progress == 1 || @progress == 3 %>
	    <div style="width:500px;">
	    	<h1>To Reset Password</h1>
	        <h2>Enter the email address for the account</h2>
	    </div>
		<div class="ordersDisplay" style="width:450px;">	
		<%= form_for(@user, url: forgot_password_path) do |f| %>
			<div class="inputWrap" style="width:376px;">
			<%= f.text_field :email, placeholder: "Enter Email Address", :class => "miTitleForm rounded inputFieldObj formObj" %>
			<%= f.submit "Submit" , class: "buttonInput buttonImageUp signInPOS", style: "margin-top: -45px;padding:4px;" %>
			</div>
		<% end %>
		</div>
		<%= render 'shared/flash', flash: flash %>

	<% elsif @progress == 2 %>
		<div class="ordersDisplay" style="width:550px;">
		<h2>Email Sent! <%= params[:user]['email'] %></h2> 
		<h3>Click the <b style="color:#077EA7;"> 'Reset your password here' </b> link in email to reset your password. </h3>
		<%= link_to "Return Home", root_path, style: "padding-left:30px;font-size:12px;" %>
		</div>

	<% end %>
</div>