<% content_for :item do %>
  <% @cart.each do |item| %>
    <p><%= item["quantity"] %>&nbsp;<%= item["item_name"] %></p>
  <% end %>
<% end %>

<% content_for :main do %>
  <p>Your Friend, <%= @gift.receiver_name %>, just joined Drinkboard and received your gift. </p>
  <p>At the <%= @merchant.name %></p>
  <p><%= yield :item %></p>
<% end %>

<% content_for :body do %>
	<table style="width: 584px;" class="table" border="0" cellpadding="0"
    cellspacing="0">
    <tbody>
    <tr>
    <td class="innercell" style="background-color: #fff; background-image:
    url('/assets/backgroundBorderBar320.gif');
    background-position: 0 0; background-repeat: repeat-y; padding-left: 2px;
    padding-right: 2px;" width="580">

    <!-- HERE is the main Body -->
    <table style="width: 580px;" class="innertable" border="0" cellpadding="0"
    cellspacing="0">
    <tbody>
      <tr>
    <!-- HERE is the main body image -->
        <td class="content" style="background-color: #ffffff; background-image:
        url('/assets/spacers/background_body-top.gif');
        background-position: 0 0; background-repeat: repeat-x; padding: 38px 40px 0
        40px;" width="500">
        <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
        18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px;
        margin-right: 0; padding: 0;">Hi <%= @gift.giver_name %>,</p>
        <p style="font-family: georgia, serif; font-weight: normal; font-size:
        15px; line-height: 20px; color: #595959; margin-top: 0; margin-left: 0;
        margin-bottom: 20px; margin-right: 0; padding: 0;"><%= yield %></p>
        <table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
        border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;
            margin: 0;" class="list-item" width="1">
            <%= image_tag @gift.receiver.get_photo, :class => "list-image", :style => "-ms-interpolation-mode: bicubic; border: 1px solid white;
      box-shadow: 1px 1px 3px 1px black;" , height: "100" , wdith: "114" , alt: "Logo Image" %>
            </td>
            <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
              <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
              15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
              margin-bottom: 15px; margin-right: 0; padding: 0;">
          <!-- LINK to gift -->
              <%= yield :main %>
              </p>
            </td>
          </tr>
          <tr>
            <td></td><td></td>
            <td>
              <a
      href="http://bit.ly/drinkboard"
      style="color: #69aa35; text-decoration: none;"><span style="color:
      rgba(84,178,209,1);">OPEN APP</span></a>
            </td>
          </tr>
        </tbody>
      </table>
      <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
      15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
      margin-bottom: 15px; margin-right: 0; padding: 0;">Drinkboard is the best way to remotely buy drinks for your friends.
      </p>

      <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
      15px; line-height: 20px; color: #595959; margin-top: 15px; margin-left: 0;
      margin-bottom: 20px; margin-right: 0; padding: 0;">Cheers,<br /> - Drinkboard
      Staff</p>
    <img src="/assets/spacers/spacer.gif"
    border="0" height="15" width="1" /></td>
    </tr>
    </tbody>
    </table>
<% end %>