<% content_for :brand_link do  %>
  <h3>Click to <%= link_to 'Brands', brands_path %></h3>
<% end %>
<% content_for :merchant_link do  %>
  <h3>Click to <%= link_to 'Merchants', providers_path %></h3>
<% end %>
<% content_for :users_link do  %>
  <h3>Click to <%= link_to 'Users', users_path %></h3>
<% end %>
<% content_for :test_emails do  %>
  <h3>Click to <%= link_to 'Test Email System', '/admin/test_emails' %></h3>
<% end %>


<div class="bankCell POSsingleColumn">
  <h2>Welcome to Drinkboard Admin Tools</h2>
  <h3><%= render 'shared/flash', flash: flash %></h3>
  <div class="merchantSignUpObject rounded gradient">
	
  <%= yield :brand_link  %>
	<%= yield :merchant_link %>
  <%= yield :users_link %>
  <%= yield :test_emails %>

  <%#= yield :merchant_tools %>
</div>  

</div>
