<% content_for :brand_link do  %>
  <h2>Click <%= link_to 'HERE', brands_path %> to go to the Brands Site</h2>
<% end %>
<% content_for :merchant_link do  %>
  <h2>Click <%= link_to 'HERE', providers_path %> to go to the Merchants Site</h2>
<% end %>
<% content_for :test_emails do  %>
  <h2>Click <%= link_to 'HERE', '/admin/test_emails' %> to test the email system</h2>
<% end %>

<div class="merchantSignInWrapper POSfullPageWrap">
	<%= yield :brand_link  %>
	<%= yield :merchant_link %>
  <%= yield :test_emails %>
  <h2>Sign into Merchant Tools for an Establishment</h2>
     <% unless (@page == 0 && @offset == 0)  %>
        <%= link_to 'Next Page', admin_path(offset: @offset) %>
    <% end %>
  <% count = @providers.count %>
  <table class="rounded gradient">
    <tr>
    </tr>
    <% @providers.each do |provider| %>
      <tr>
        <td class="imageBorder" style="margin: 10px; border-top-width: 1px; padding: 0px; height: 100px; width: 100px;"><%= custom_image_tag(provider,100,100)  %>
        </td>
        <td class="tdProviderName"><%= provider.name %></td>
        <td class="tdDescription"><%= provider.zinger %></td>
        <td class="tdAddress"><%= provider.full_address %></td>
        <td><%= button_to "Log In", merchant_path(provider  ),method: :get, :class => 'buttonImageUp tableButton'%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
