<div class="theirProfileWrapper">
	<%=custom_image_tag(@user,75,100)  %>
	<h2>
  	<%= @user.username %>
	</h2>
	<%= render 'shared/stats' %>
	<% if current_user.following?(@user) %>
  <%= render 'unfollow' %>
	<% else %>
  <%= render 'follow' %>
<% end %>
	<%= render 'profile_drinkboard' %>
</div>