<div class="row-fluid">


<div class="row">


      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>

      <%= render 'shared/stats' %>

  
    <p1><%= render 'shared/micropost_form' %></p1>


  
      <div> 
      <%= link_to "Edit Profile", edit_user_path(current_user) %> | 
      <%= link_to "Updates", '#' %> 
      </div>      
      
      

</div>
</div>