<!-- Profile page(s) -->

<div class="yourProfileWrapper">
	<div class="profilePic"><%= image_tag(@user.photo.large) %></div>
  <h2><%= @user.username %></h2>
  <h2><%= @user.handle %></h2>
  <h2><%= @user.email %></h2>
  <h2><%= number_to_phone(@user.phone, :area_code => true) %></h2>
  <h2><%= @user.full_address %></h2>
  <h2><%= link_to "Crop Avatar", crop_user_path(current_user) %></h2>
  <h2><%= link_to "Edit Profile", edit_user_path(current_user) %></h2>
  <h2><%= link_to "Check In" %></h2>
  <h2><%= link_to "Public/Private" %></h2>
  <div class="bs-docs-example">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#personality" data-toggle="tab">
          Personality
        </a>
      </li>
      <li>
        <a href="#network" data-toggle="tab">
          Network
        </a>
      </li>
      <li>
        <a href="#settings" data-toggle="tab">
          Settings
        </a>
      </li>
      <li>
        <a href="#info" data-toggle="tab">
          App Info
        </a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="personality">
        <h2><%= link_to "Personality" %></h2>
        <h2><%= link_to "Favorites" %></h2>
        <h2><%= link_to "Special Ocassions" %></h2>
      </div>   
      <div class="tab-pane fade" id="network">
        <h2><%= link_to "Network" %></h2>
        <h2><%= link_to "Suggestions" %></h2>
      </div> 
      <div class="tab-pane fade" id="settings">            
        <h2><%= link_to "Update Social Networks" %></h2>
        <h2><%= link_to "Notification Settings" %></h2>
        <h2><%= link_to "Manage Credit Cards" %></h2>
        <h2><%= link_to "Transaction History" %></h2>
      </div>
      <div class="tab-pane fade" id="info">            
        <h2><%= link_to "FAQ" %></h2>
        <h2><%= link_to "Contact Us" %></h2>
        <h2><%= link_to "Quick Tips" %></h2>
        <h2><%= link_to "Version" %></h2>
      </div>
    </div>
  </div>
</div>

