<div class="center hero-unit">


<div class="row">
  <aside class="span8 offset2">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>

      <%= render 'shared/stats' %>

  
      <p><%= render 'shared/micropost_form' %></p>
    </section>
  </aside>
  
      <div> 
      <%= link_to "Edit Profile", edit_user_path(current_user) %> | 
      <%= link_to "Updates", learn_path %> 
      </div>      
      
      

</div>
</div>