<div class="editProfileWrapper">
  <h2>Edit your user info</h2>
  <%= simple_form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <%= render 'shared/error_messages' %>
  <%= link_to 'Manage Credit Cards' %>
  <%= link_to 'Server Code', servercode_user_path(@user) %>
  <%= gravatar_for @user %>                    
  <h2 class="uploadPhoto">
    <%= f.label :upload_new_photo? %>    
    <%= f.hidden_field :photo_cache %>
    <%= f.file_field :photo %>           
  </h2>
  <h2><%= f.input :first_name %>       </h2>  
  <h2><%= f.input :last_name %>        </h2>   
  <h2><%= f.input :handle %>           </h2>    
  <h2><%= f.input :email %>            </h2>     
  <h2><%= f.input :address %>          </h2>    
  <h2><%= f.input :address_2 %>        </h2> 
  <h2><%= f.input :city %>             </h2>   
  <h2><%= f.input :state %>            </h2> 
  <h2><%= f.input :zip %>              </h2>  
  <h2><%= f.input :phone %>            </h2>  
  <%= f.submit "Update Account", :class => "btn" %>
  <%= link_to "Cancel", user_path(@user), :class => 'btn' %>
  <% end %>
</div>