<% if @message %>
	<p><%= @message %></p>
<% else %>
	<%= form_tag(enter_new_password_users_path) do %>
	  <%= label_tag(:password1, "Password:") %>
	  <%= text_field_tag(:password1) %>
		<%= label_tag(:password2, "Password (again):")%>
	  <%= text_field_tag(:password2) %>
		<%= hidden_field_tag(:reset_token, @user[:reset_token])%>
	  <%= submit_tag("Submit") %>
	<% end %>
<% end %>