<div class="merchantSignInWrapper POSfullPageWrap">
  <table>
  <h1 colspan="4"  style="color:#ccc">Check Out Users</h1>
    <% unless (@page == 0 && @offset == 0)  %>
      <%= link_to "#{@page}/#{@offset}/Next Page", users_path({offset: @offset}) %>
    <% end %>
  <tr style="color:#ccc">
    <th>Photo</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= custom_image_tag(user,45,45)  %></td>
      <td><%= link_to user.username, user  %></td>
      <td><%= user.email %></td>
      <td><%= number_to_phone user.phone %></td>
    </tr>
  <% end %>
</table>
</div>


