
<%- model_class = User.new.class -%>
<table>
  <thead>
    <tr>
      <th colspan="6">Who's About</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user %></td>
        <td><%= link_to user.username, user %></td>
        <% if user != current_user %>
        <td><%= user.following?(current_user) ? 'Yes' : 'No' %></td>
        <td><%= current_user.following?(user) ? 'Yes' : 'No'  %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        
        <td><%= user.email %></td>
        
        <% if current_user.admin?  %>
          <td>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        user_path(user),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


