<div class="center">
<%- model_class = User.new.class -%>
<table>
  <thead>
    <tr>
      <th colspan="6">Who's About</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td colspan="6">
          <%= gravatar_for user %>
          <%= link_to user.username, user %>
          <%= user.following?(current_user) ? 'You are following' : 'doesnt follow you' %>
          <% if current_user.following?(user) %>
              <%= render 'unfollow' %> 
          <% else %>  
              <%= render 'follow' %>  
          <% end %>

          <% if current_user.admin?  %>

            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        user_path(user),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


