<div class="row">
  <div class="span8">
		<% if params[:email] %>
			<p><%= "If the email #{params[:email]} is registered with us, you will receive a password request shortly." %></p>
		<% else %>
			<% if params[:reset_token] %>
				<p>The reset token you were sent is invalid or has expired. Try resetting your password again.</p>
			<% end %>
			
			<p>What is your email address?</p>
			<%= form_tag(reset_password_users_path, :method => "get") do %>
			  <%= label_tag(:email, "Email Address:") %>
			  <%= text_field_tag(:email) %>
			  <%= submit_tag("Submit") %>
			<% end %>
		<% end %>
  </div>
</div>