<div class="doubleColumn">
	<% if params[:user] && params[:user].has_key?("email") %>
		<h2>An email has been sent to <%= params[:user]['email'] %></h2> 
		<h2>Click on the 'Reset your password here' link in that email to reset your password. </h2>
		<%= link_to "Return Home", '/home', style: "padding-left:30px;font-size:12px;" %>
	<% else %>
		<% if params[:reset_token] %>
			<h2>The reset token you were sent is invalid or has expired. Try resetting your password again.</h2>
		<% end %>
	<ul>
	    <li style="width:500px;padding-top:30px;">
	      <h2>Enter the email address for the account</h2>
	    </li>
    	<li class="ordersDisplay" style="width:450px;">	
    		<% @user = User.new %>
		<%= form_for(@user, url: reset_password_users_path) do |f| %>
		<div class="inputWrap" style="width:376px;">
		  <%= f.text_field :email, placeholder: "Enter Email Address", :class => "miTitleForm rounded inputFieldObj formObj" %>
		  <%= f.submit "Submit" , class: "buttonInput buttonImageUp signInPOS", style: "margin-top: -45px;padding:4px;" %>
		<% end %>
		</div>
		</li>
	</ul>
	<% end %>
</div>