<!-- User permalink page -->
<div class=" POSfullPageWrap">

<div class="" style="float:left;padding:10px;border: 1px solid #ADAFB4;">
	<div class="profilePic">
		<%=custom_image_tag(@user,90,90)  %>
	</div>
	<div style="float:left;padding:10px;border: 1px solid #2159A0;">
		<h3>Name : <%= @user.username %></h3>
		<h3>Sex : <%= @user.sex %></h3>
		<h3>Email : <%= @user.email %></h3>
		<h3>Phone : <%= number_to_phone(@user.phone, :area_code => true) %></h3>
		<h3>Address : <%= @user.full_address %></h3>
	</div>
	<div style="float:left;padding:10px;border: 1px solid #2159A0;">
		<h3>Handle : <%= @user.handle %></h3>
		<h3>Persona : <%= @user.persona %></h3>
		<h3>Birthday : <%= @user.birthday %></h3>
		<h3>Active :  <%= @user.active %></h3>
		<h3>Member Since : <%= time_ago_in_words(@user.created_at) %></h3>
	</div>
	<div style="float:left;padding:10px;border: 1px solid #2159A0;">
		<h3>Origin : <%= @user.origin %></h3>
		<h3>Confirmed Email : <%= @user.confirm[0] == "1" ? "yes" : "no" %></h3>
		<h3>Confirmed Text : <%= @user.confirm[1] == "1" ? "yes" : "no"   %></h3>
		<h3>Added Facebook :  <%= !@user.facebook_id.blank? ? "yes" : "no" %></h3>
		<h3>Added Twitter : <%= !@user.twitter.blank? ? "yes" : "no" %></h3>
	</div>
</div>
                                           
<%= render 'shared/gifts_list', gifts: @gifts, title: "User Gift Activity" %>

</div>


