<script type="text/javascript">
  function showPreview(coords){
  	//Fill in the preview information
  	var origPicWidth = $("#imageCanvas").width();
  	var origPicHeight = $("#imageCanvas").height();
  	var previewWidth = $("#preview").width();
  	var previewHeight = $("#preview").height();
	
  	var widthScale = origPicWidth / coords.w;
  	var heightScale = origPicHeight / coords.h;
	
  	var bgSizeWidth = widthScale * previewWidth;
  	var bgSizeHeight = heightScale * previewHeight;
  	var newBgSize = bgSizeWidth+"px "+bgSizeHeight+"px";
  	$("#preview").css("backgroundSize",newBgSize);
	
  	var bgPosX = coords.x * (widthScale/(origPicWidth/previewWidth));
  	var bgPosY = coords.y * (heightScale/(origPicHeight/previewHeight));
  	var newBgPos = "-"+bgPosX+"px -"+bgPosY+"px"
  	$("#preview").css("backgroundPosition",newBgPos);
	
  	$("#crop_coord_x").val(coords.x);
  	$("#crop_coord_y").val(coords.y);
  	$("#crop_coord_w").val(coords.w);
  	$("#crop_coord_h").val(coords.h);
  }


  $(document).ready(function(){
    var imageLoader = document.getElementById('<%= @obj_name %>_<%= @file_field_name %>');
        imageLoader.addEventListener('change', handleImage, false);

    var maxHeight = 320;
    var maxWidth = 600;
    function handleImage(e){
      $("#imageCanvas").remove();
      $(".jcrop-holder").remove();
      $("#upload_photo_wrapper").append('<canvas id="imageCanvas"></canvas>');
      $("#upload_wrapper").append('<canvas id="imageCanvas"></canvas>');
      $("#cropTitle").show();
      var canvas = document.getElementById("imageCanvas");
      var ctx = canvas.getContext('2d');
      
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();
        img.onload = function(){
          var canvasHeight = img.height;
          var canvasWidth = img.width;
          
          //Test for scaling
          var dxy = 1;
          if (canvasHeight > maxHeight){
            dxy = maxHeight/canvasHeight;
            canvasHeight = maxHeight;
            canvasWidth = dxy*canvasWidth;
          }
          if (canvasWidth > maxWidth){
            var txy = maxWidth/canvasWidth;
            canvasWidth = maxWidth;
            canvasHeight = txy*canvasHeight;
            dxy = txy*dxy;
          }
          canvas.width = canvasWidth;
          canvas.height = canvasHeight;
          ctx.scale(dxy,dxy);
          ctx.drawImage(img,0,0);
          var cssData = "url('"+canvas.toDataURL()+"')";
          $("#preview").css("backgroundImage",cssData);
          //Set up the cropper
          var jcrop_api;
					$('#imageCanvas').Jcrop({
						onChange: showPreview,
						onSelect: showPreview,
						aspectRatio: <%= @obj_width / @obj_height %>
					}, function(){ jcrop_api = this; });
					jcrop_api.setSelect([0,0,canvas.width,canvas.height]);
        }
        img.src = event.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);     
    }
  });
</script>
<style type="text/css">
	#uploaded_photo{
		width: 600px; height: 320px; background: #ddd; float: left; display: table;
	}
	#uploaded_photo #inner_wrapper{
		display: table-cell; vertical-align: middle;
	}
	#uploaded_photo #inner_wrapper .jcrop-holder{
		margin: 0px auto; display: block; background-color: gray !important;
	}
	#preview{
		width: <%= @obj_width%>px; height: <%= @obj_height %>px; background: gray;
	}
  #upload_wrapper {
/*    background-color: #444;
    color: white;*/
    padding-top: 16px;
    padding-left: 40px;
  }
  .input_fieldPOS {
    margin:0px;
    margin-left:-150px;
    margin-top:30px;
  }
  .photoWrapPOS {
    margin-left: -100px;
  }
  #cropTitle {
    display: none;
  }
	#crop_coord_x,#crop_coord_y,#crop_coord_w,#crop_coord_h{ display: none; }
</style>


<%= form_for(@obj_to_edit, :url => { :controller => @controller , :action => @action}, :html => { :method => :post, :id => 'uploadForm', :multipart => true }) do |f| %>
    <div class="doubleColumn"> 
        <h5 class="menuSectionHeader">
              Upload and Crop <%= @image %>
        </h5>
      <div class="photoContainer">
        <div class="ordersDisplay giftText giftTextLarge">
          <div id="upload_wrapper">
             Upload a file: <%= f.file_field @file_field_name %>
          </div>
        </div>
        <div class="giftText giftTextLarge">
          <h2>Current Photo</h2>
        </div> 
        <div class="profilePic"><%= custom_image_tag @obj_to_edit, @obj_width, @obj_height, @file_field_name %>
        </div>
        <div class="giftText giftTextLarge">
          <h2>Preview New Photo</h2>
        </div> 
        <div id="preview" style=""></div>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Upload Photo" %>
      </div>
      <div class="giftText giftTextLarge" id="cropTitle">
          <h2>Click to Crop</h2>
      </div> 
      <div id="upload_photo_wrapper" class="photoWrapPOS">
          <% %w[x y w h].each do |attr| %>
             <input id="crop_coord_<%= attr %>" type="text" size="30" name="<%= @obj_name %>[crop_<%= attr %>]" />
          <% end %>
      </div>
    </div>

<% end %>