<div class="center hero-unit">
  <div class="row">
    <table class="table table-condensed">
      <thead>
        <th></th>
        <th colspan="2"><h2>Choose a User to Sign In As ...</h2></th>
        <th></th>
      </thead>
      <tbody>  
        <tr>
          <td></td>
          <td colspan="2">New User</td>
          <td><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-success" %></td>
        </tr>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.password %></td>
            <td><%= u.id %></td>
            <td><%= u.username %></td>
            <td>
              <%= button_to "Sign In As", sessions_path(email: u.email, page: 'development'), :class => 'btn btn-large btn-info'%>
            </td>
          </tr>
        <% end %>
        </tr>
      </tbody>
      </table>
  </div>
</div>
