<div class="center hero-unit">
  <div class="row">
    <h1><strong><%= PAGE_NAME %></strong>&nbsp;<%= image_tag "88-beer-glass-gray.png" %></h1>
    <table class="table table-striped">
      <thead>
        <td></td>
        <td><h2>Choose a User to Sign In As ...</h2></td>
        <td></td>
      </thead>
      <tbody>  
        <% @users.each do |u| %>
          <tr>
            <td><%= u.password %></td>
            <td><%= u.username %></td>
            <td>
              <%= button_to "Sign In As", sessions_path(email: u.email, page: 'development'), :class => 'btn btn-large btn-info'%>
            </td>
          </tr>
        <% end %>
        </tr>
        <tr>
          <td></td>
          <td>New User</td>
          <td><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-success" %></td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
