<script type="text/javascript">
	$(document).ready(function(){
		var changeUserStatus = function(newStatus){
			$.ajax({
				url: "/users/<%= @user[:id] %>/change_public_status",
				data: "newStatus="+newStatus,
				dataType: "json",
				success:function(json){
					console.log(json);
				}
			});			
		};
		
		$('#switchMessage').iphoneSwitch("<%= @user[:is_public] ? "on" : "off" %>",
		  function() {
		    $('#onOffSwitch').hide('#switchOn');
				changeUserStatus(true);
		  },
		  function() {
		    $('#onOffSwitch').toggle('#switchOff');
				changeUserStatus(false);
		  },
		  {switch_on_container_path: 'assets/iphone_switch_container_off.png'}
		);
	});
</script>
<div class="switchWrapper">
  <div id="onOffSwitch"></div>
  <div id="switchMessage"></div>
  <div id="switchOn"></div>
  <div id="switchOff"></div>
</div>

<div class="mapWrapper">
</div>

<ul class="bigList">
  <li class="homePanel myGifts">
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">
        <%= link_to image_tag("my_gifts.png"), gifts_path, {:class => "button_maker"} %>
      </div> -->
      </div>
    </div>
  </li>

  <li class="homePanel sendGift">  
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">
        <%= link_to image_tag("send_gift.png"), browse_gifts_path, {:class => "button_maker"} %>
        </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel friends endItem"> 
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">
        <%= link_to image_tag("friends.png"), users_path, {:class => "button_maker"} %>
        </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel invite">  
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">
         <%= link_to image_tag("invite.png"), '#', {:class => "button_maker"} %>
       </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel places">
    <div class="cornered">
      <div class="backgroundTab"> 
<!--         <div class="deleteMe">  
        <%= link_to image_tag("places.png"), providers_path, {:class => "button_maker"} %>
        </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel nearYou endItem">  
    <div class="cornered">
      <div class="backgroundTab"> 
<!--         <div class="deleteMe">  
        <%= link_to image_tag("near_you.png"), providers_path, {:class => "button_maker"} %>
        </div> -->
      </div>

    </div>
  </li>
  
  <li class="homePanel checkIn">
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">  
        <%= link_to image_tag("check_in_panel.png"), '#', {:class => "button_maker"} %>
        </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel profile">  
    <div class="cornered">

      <div class="backgroundTab">

        <%= link_to image_tag("profile2.png"), current_user, {:class => "button_maker"} %>
        </div> -->
      </div>
    </div>
  </li>
  
  <li class="homePanel myDrinkboard endItem">  
    <div class="cornered">
      <div class="backgroundTab">
<!--         <div class="deleteMe">  
        <%= link_to image_tag("my_drinkboard.png"), activity_gifts_path, {:class => "button_
        </div>maker"} %> -->
      </div>
    </div>
  </li>
</ul>



 
