
<ul class="bigList">
  <li class="homePanel myGifts">
    <div class="cornered">
      <div class="backgroundTab">
        <%= link_to image_tag("my_gifts.png"), gifts_path, {:class => "button_maker"} %>
      </div>
    </div>
  </li>

  <li class="homePanel sendGift">  
    <div class="cornered">
      <div class="backgroundTab">
        <%= link_to image_tag("send_gift.png"), browse_gifts_path, {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel friends endItem"> 
    <div class="cornered">
      <div class="backgroundTab">
        <%= link_to image_tag("friends.png"), users_path, {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel invite">  
    <div class="cornered">
      <div class="backgroundTab">
         <%= link_to image_tag("invite.png"), '#', {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel places">
    <div class="cornered">
      <div class="backgroundTab">   
        <%= link_to image_tag("places.png"), providers_path, {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel nearYou endItem">  
    <div class="cornered">
      <div class="backgroundTab">   
        <%= link_to image_tag("near_you.png"), providers_path, {:class => "button_maker"} %>
      </div>

    </div>
  </li>
  
  <li class="homePanel checkIn">
    <div class="cornered">
      <div class="backgroundTab">  
        <%= link_to image_tag("check_in_panel.png"), '#', {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel profile">  
    <div class="cornered">
      <div class="backgroundTab">  

        <%= link_to image_tag("profile2.png"), current_user, {:class => "button_maker"} %>
      </div>
    </div>
  </li>
  
  <li class="homePanel myDrinkboard endItem">  
    <div class="cornered">
      <div class="backgroundTab">  
        <%= link_to image_tag("my_drinkboard.png"), activity_gifts_path, {:class => "button_maker"} %>
      </div>
    </div>
  </li>
</ul>
              