<style>
  body {margin-top : 50px;}
  footer a { color : #fff }
</style>
<div class="center">
  <div class="row">
    <div class="span3">&nbsp;</div>   
    <div class="span6 borderBox borderBoxBackground">
      <div class="row">
        <%= link_to image_tag("my_gifts.png"), gifts_path, {:class => "button_maker"} %>
        <%= link_to image_tag("send_gift.png"), browse_gifts_path, {:class => "button_maker"} %>
        <%= link_to image_tag("friends.png"), users_path, {:class => "button_maker"} %>
      </div>

      <div class="row">
        <%= link_to image_tag("invite.png"), '#', {:class => "button_maker"} %>
        <%= link_to image_tag("places.png"), providers_path, {:class => "button_maker"} %>
        <%= link_to image_tag("near_you.png"), providers_path, {:class => "button_maker"} %>
      </div>

      <div class="row">
        <%= link_to image_tag("check_in_panel.png"), '/map', {:class => "button_maker"} %>
        <%= link_to image_tag("profile2.png"), current_user, {:class => "button_maker"} %>
        <%= link_to image_tag("my_drinkboard.png"), activity_gifts_path, {:class => "button_maker"} %>
      </div>
    </div>
    <div class="span3">&nbsp;</div>   
  </div>
</div>
              