

<% giver ||= nil %>
<% tab_flag ||= nil %>
<div id="giftIndexWrapper">

  <% if tab_flag == 'buy' %>
    <%= render 'gifts/tabs_buy' %>
  <% else %>
    <%= render 'gifts/tabs_activity' %>
  <% end %>
  
  <ul id="containerIsotope" class="allCellWrapper">
    <% gifts.each do |gift| %>
    <% if gift.status == "redeemed" %>
    <li class="cellWrapper item completed">
    <% status_class = "Completed" %>
    <% else %>
    <li class="cellWrapper item active">
    <% status_class = "Active" %>
    <% end %>
      <div class="cellContent">  
        <%= image_tag get_category_image(gift), {:class => ' iconListView'} %>
        <h2>
          You bought
          <%= gift.quantity %>
          <%= gift.item_name %>
          <%= gift.provider_name %>
          <% if !giver.nil? %>
            <%= custom_image_tag(gift.giver,50,50)  %>
            <%= gift.giver_name %>
          <% end %>
          for <%= gift.receiver_name %>
          <%= time_ago_in_words(gift.created_at) %>&nbsp;ago
        </h2>
        <h2 class="yourMessage">
          <%= gift.message %>
        </h2>
      </div>
      <% if tab_flag == "buy" %>
        <%= render 'gifts/buttons_buy', gift: gift %>
      <% elsif giver.nil? %>
        <%= render 'gifts/buttons_index', gift: gift %>
      <% end %> 
    <% end %>
    </li>
  </ul>
</div>


