<div class="wrapper">
	<div class="content">
		<div class="row">
		  <div class="span2">&nbsp;</div>
		  <div class="span7 borderBox">
			<form action="<%= gifts_path %>" method="post" name="order" id="order">
					<legend class="label">Order Details</legend>
					<div class="row">
						<div class="span3">
						  <label for="receiver" class="label">For:</label>
						  <label><%= list_icon_with_id_for @gift.receiver_id %></label>
						</div>
						<div class="span3">
						  <label name="provider" class="label" ><%= @gift.receiver_name %></label>
						  <span><%= User.find(@gift.receiver_id).handle %></span>
						</div>
					</div>
					<div class="row">
					  <div class="span3">
  						<label for="provider" class="label">Location:</label>					    
						  <label><%= logo_from_id_for @gift.provider_id %></label>
						</div>
						<div class="span3">
						  <label name="receiver" class="label" ><%= @gift.provider_name %></label>
						  <span><%= @gift.provider.full_address %></span>
						</div>
					</div>
					<div class="row">
					  <div class="span3">
  						<label for="item" class="label">Item:</label>
						  <label><%= image_tag get_category_image(@gift), {:class => 'iconListView'} %></label>
						</div>
						<div class="span3">
						  <label name="receiver" class="label" ><%= @gift.item_name %></label>
						  <span>$<%= @gift.price %></span>
						</div>
					</div>
					<div class="row">
					  <div class="span3">
					    <span>Quantity:</span>
              <button class="btn disabled" type="button" id="decreaseQ">-</button>
              <button class="btn" type="button" id="increaseQ">+</button>
						</div>
						<div class="span3">
              <input class="span1" id="quantityAmount" size="16" type="text" />
						</div>
					</div>
					<div class="row">
					  <div class="span3">
              <span>Local Sales Tax: <%= @provider.sales_tax.to_i %>%</span>
						</div>
						<div class="span3">
              <span id="taxAmount" class="label">Calculating ...</span>
						</div>
					</div>
					<div class="row">
					  <div class="span3">
              <label for="subTotal" class="label">SubTotal:</label>
						</div>
						<div class="span3">
              <label for="subTotalAmount" id="subTotalAmount" class="label">Calculating ...</label>
						</div>
					</div>
					<div class="row">
					  <div class="span3 input-append" data-toggle="buttons-radio">Tip:
                 <button type="button" class="btn">$1 per</button>
                 <button type="button" class="btn">15%</button>
                 <button type="button" class="btn">20%</button>
						</div>
						<div class="span3">
              <input class="span2" id="tip" size="16" type="text" value="Please leave a tip"/>
						</div>
					</div>
					<div class="row">
					  <div class="span3">
					    	<label for="total" class="label">Total:</label>
                <span id="total">Click here to Send Gift</span>
						</div>
						<div class="span3">
              <label for="item" class="label">???</label>
        			<input class="btn btn-large btn-info disabled" type="button" name="submit" id="submit" value="Please Leave a Tip">
						</div>
					</div>					
			</form>
			</div>
			<div class="span2">&nbsp;</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    var price = <%= @gift.price.to_i %>;
    var quantity = 1;
    $('#quantityAmount').val(quantity);
    var sales_tax = <%= @provider.sales_tax.to_i %>;
    var preTaxTotal = price * quantity;
    calcSubTotal(preTaxTotal, sales_tax);
    $('#increaseQ').click(function() {
      quantity = increaseQuantity(price, quantity, sales_tax);
    });
    $('#decreaseQ').click(function() {
      if (!$(this).hasClass('disabled')) {
        quantity = decreaseQuantity(price, quantity, sales_tax);
      }
    });
    $('input#quantityAmount').blur(function() {
      var fieldValue = $(this).val();
      if (isNaN(fieldValue)) {
        alert('please supply a number');
        $(this).val(quantity);
      }
      if (fieldValue < 1) {
        alert('please supply a number 1 or more');
        $(this).val(quantity);
      }
      if (fieldValue > 0) {
        quantity = updateQuantity(price, fieldValue, sales_tax);
      }
    });
  });
  
  function calcSubTotal(preTaxTotal, sales_tax) {
    var taxAmount   = (preTaxTotal * sales_tax)/100;
    $('span#taxAmount.label').text('$ ' + taxAmount);
    var subTotal    = preTaxTotal + taxAmount;
    $('label#subTotalAmount.label').text('$ ' + subTotal);
  };
  
  function updateQuantity(price, quantity, sales_tax) {
    var preTaxTotal = price * quantity; 
    calcSubTotal(preTaxTotal, sales_tax);
    controlDecreaseQ(quantity); 
    return quantity;
  };
  
  function increaseQuantity(price, quantity, sales_tax) {
      quantity ++;
      // add updated quantity to input field
      $('#quantityAmount').val(quantity);
      // enable the minus button if its disabled or new quantity == 2
      controlDecreaseQ(quantity); 
      // re-run calSubTotal with new quantity amount
      var preTaxTotal = price * quantity; 
      calcSubTotal(preTaxTotal, sales_tax);

      return quantity;       
  };
  
  function decreaseQuantity(price, quantity, sales_tax) {
      quantity --;
      // add updated quantity to input field
      $('#quantityAmount').val(quantity);
      // enable the minus button if its disabled or new quantity == 2
      controlDecreaseQ(quantity); 
      // re-run calSubTotal with new quantity amount
      var preTaxTotal = price * quantity; 
      calcSubTotal(preTaxTotal, sales_tax); 
      return quantity;       
  };
  
  function controlDecreaseQ(quantity) {
      if (quantity == 1) {
        $('#decreaseQ').addClass('disabled');  
      }
      if ((quantity > 1) && $('#decreaseQ').hasClass('disabled')) {
        $('#decreaseQ').removeClass('disabled');  
      }
  }
  
</script>














    

