<h2>
  <%= @provider.name %>
  "<%= @provider.description %>"
  <%= @provider.full_address %>
</h2>
<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#friends" data-toggle="tab">Friends</a></li>
    <li><a href="#recent" data-toggle="tab">Recents</a></li>
    <li><a href="#drinks" data-toggle="tab">Drinks</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="friends">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @users.each do |user| %>
            <td><%= list_icon_for user %></td>
            <td><%= link_to user.username, choose_from_menu_gifts_path(user_id: user.id, provider_id: @provider.id) %></td>
            <td><%= user.following?(current_user) ? 'You are following' : 'doesnt follow you' %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="recent">
      <p>Recent Activity</p>
    </div>
    <div class="tab-pane fade" id="drinks">
      <p>Menu Items by category - speciatly drinks - each category</p>
    </div>
  </div>
</div>

