<!-- "Buy a drink" link from gift panel -->

<h2>
  <%= custom_image_tag(@user,100,100) %>
  <%= @user.username %>
</h2>

<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><h2><a href="#locations" data-toggle="tab">Locations</a></h2></li>
    <li><h2><a href="#near_you" data-toggle="tab">Near You</a></h2></li>
    <li><h2><a href="#near_them" data-toggle="tab">Near Them</a></h2></li>
    <li><h2><a href="#recent" data-toggle="tab">Recents</a></h2></li>
    <li><h2><a href="#drinks" data-toggle="tab">Drinks</a></h2></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="recent">
      <p>Recent Activity</p>
    </div>
    <div class="tab-pane fade" id="near_you">
      <p>Locations Near You</p>
    </div>
    <div class="tab-pane fade" id="near_them">
      <p>Locations Near Them</p>
    </div>
    <div class="tab-pane fade in active" id="locations">
      <h2>Select Location</h2>
    </div>
    <div class="allMenuCellsWrapper">
      <% @providers.each do |p| %>
      <div class="menuCellWrapper">
        <h2>
          <%= custom_image_tag(p, 150, 150) %>
        </h2>
        <h2 class="providerName">
          <%= link_to p.name, provider_path(p) %>
        </h2>
        <h2 class="descriptionText">
          <%= p.description %>
        </h2>
        <%= button_to "Select", choose_from_menu_gifts_path(provider_id: p.id, user_id: @user.id)%>
      </div>
    <% end %>
    </div>
    <div class="tab-pane fade" id="drinks">
      <p>Menu Items by category - speciatly drinks - each category</p>
    </div>
  </div>
</div>

