<h2>
  the Gift is for:
  <%= list_icon_for @receiver %>
  <%= @receiver.username %>
  <br />
  to be redeemed at:
  <%= @provider.name %>
  <%= @provider.description %>
</h2>
<% @menu.each do |m| %>
  <% item = m[0] %>
  <% price = m[1] %>
  <%= item.category %>
  <%= item.item_name %>
  <%= item.detail %>
  <%= item.description %>
  <%= price %>
<% end %>