<h2>
  the Gift is for:
  <%= list_icon_for @receiver %>
  <%= @receiver.username %>
  <br />
  to be redeemed at:
  <br />
  <%= @provider.name %>
  "<%= @provider.description %>"
  <%= @provider.full_address %>
</h2>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Detail</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
  </tr>
  <% @menu.each do |m| %>
  <tr>
    <% item = m[0] %>
    <% price = m[1] %>
    <td><%= image_tag get_category_from_item(item), {:class => 'iconListView'} %></td>
    <td><%= item.item_name %></td>
    <td><%= item.detail %></td>
    <td><%= item.description %></td>
    <td><%= price %></td>
    <td><%= button_to "Select", '#' %>
  </tr>
  <% end %>
</table>
