<h2>
  the Gift is for <%= @receiver.username %>,
</h2>
<h2>
  to be redeemed at: <%= @provider.name %>
</h2>
<%= logo_for @provider %>
<h2>
  "<%= @provider.description %>"
</h2>
<h2>
  <%= @provider.full_address %>
</h2>

<div class="menuTable">
  <table>
    <thead>
      <tr>
        <th><h2>Drink</h2></th>
        <th><h2>Detail</h2></th>
        <th><h2>Price</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @menu.each do |m| %>
        <% item = m[0] %>
        <% price = m[1] %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.detail %></td>
        <td>$<%= price %>.00</td>
        <td><%= button_to "add", bill_gifts_path(provider_id: @provider.id, item_id: item.id, price: price, receiver_id: @receiver.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
