
<div class="completedWrapper">
c
  <h2>- The Drinkboard Staff</h2>
  <%= time_ago_in_words(@gift.created_at) %>
  &nbsp;ago
  <%= list_icon_for @giver %>
  <%= @gift.giver_name %> 
  bought
  <%= @gift.quantity %> <%= @gift.item_name %>
  For:
  <%= list_icon_for @receiver %>
  <%= @gift.receiver_name %>
  <%= logo_from_id_for @gift.provider_id %>
  @ <%= @gift.provider_name %>
  Redeemed on <%= @order.created_at.to_formatted_s(:rfc822)  %>
  By server: <%= @server.username %>&nbsp;<%= list_icon_for @server %>
</div>
