
<div class="giftIndexWrapper">
  <!--!
      <div class="">
        <%= link_to 'Buy a Gift for a friend', browse_gifts_path %> |
        <%= link_to 'Past Gifts', past_gifts_path %>
      </div>
  
      <div>Drink</div>
      <div>Location</div>
      <div>Message</div>
      <div>Date</div>
      <div>From</div>
  -->
  
  <!-- these are gifts the user has given therefore ... -->
  <!-- Gift object div's do not have giver_name because the website user is the   giver -->
  
  <ul class="allCellWrapper">
    <% @gifts.each do |gift| %>
    <li class="cellWrapper">
      <div class="cellBackground1 borderRad1"></div>
      <div class="cellBackground2 borderRad2"></div>
      <div class="cellContent">  

        <div class="giftDescription">
          <div class="backgroundMiniCell"></div>
          <%= image_tag get_category_image(gift), {:class => '  iconListView'} %>
          <h2>
            <%= gift.quantity %>
            <%= gift.item_name %>
          </h2>
        </div>
        <div class="providerInfo">
          <div class="backgroundMiniCell"></div>
          <%= logo_from_id_for gift.provider_id %>
          <h2 class="bigAt">@</h2>
          <h2 class="providerText"><%= gift.provider_name %></h2>
        </div>
        <div class="giverID">
          <%= list_icon_with_id_for gift.giver_id %>
          <h1><%= gift.giver_name %></h1>
        </div>
        <div class="timeAgo">
          <h1>
            <%= time_ago_in_words(gift.created_at) %>&nbsp;ago
          </h1>
        </div>
        <h2 class="redeemButton">
          <%= button_to "Redeem Now", redeems_path(gift_id: gift.id) %>
        </h2>
        <h2 class="sendButton">
          <%= button_to "Send Them a Drink",  browse_with_contact_gifts_path(id: gift.giver_id) %>
        </h2>
        

        <!--!
        <div class="giftMessage">
          <h2><%= gift.message %></h2>
        </div>
        -->
      </div>
    </li>
    <% end %>
  </ul>
</div>


