<div class="gradientBackground"></div>
<table>
  <tr>
    <th>Date</th>
    <th>From</th>
    <th></th>
    <th>Drink</th>
    <th>Location</th>
    <th>Message</th>
    <th>Status</th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= time_ago_in_words(gift.created_at) %>&nbsp;ago</td>
    <td><%= gift.giver_name %></td>
    <td><%= image_tag get_category_image(gift), {:class => 'iconListView'} %></td>
    <td><%= gift.quantity %><%= gift.item_name %></td>
    <td><%= gift.provider_name %></td>
    <td><%= gift.message %></td>
    <td><%= gift.status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift', new_gift_path %>
