<div class="gradientBackground"></div>
<table>
  <tr>
    <th>Date</th>
    <th>From</th>
    <th>Drink</th>
    <th>Location</th>
    <th>Message</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.created_at.to_formatted_s(:custom) %></td>
    <td><%= gift.giver_name %></td>
    <td><%= gift.quantity %>&nbsp;<%= gift.item_name %></td>
    <td><%= gift.provider_name %></td>
    <td><%= gift.message %></td>
    <td><%= gift.status %></td>
    <td><%= link_to 'Details', gift %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift', new_gift_path %>
