<h1>Drinkboard ALL GIFTS</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Drink</th>
    <th>Location</th>
    <th>Message</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= User.find(gift.giver_id).username %></td>
    <td><%= User.find(gift.receiver_id).username %></td>
    <td><%= gift.quantity %>&nbsp;<%= Item.find(gift.item_id).item_name %></td>
    <td><%= Provider.find(gift.provider_id).name %></td>
    <td><%= gift.message %></td>
    <td><%= gift.status %></td>
    <td><%= link_to 'Details', gift %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift', new_gift_path %>
