<p id="notice"><%= notice %></p>

<p>
  <b>To:</b>
  <%= @gift.receiver_name %>
</p>

<p>
  <b>From:</b>
  <%= @gift.giver_name %>
</p>

<p>
  <b>Drink:</b>
  <%= @gift.quantity %>&nbsp;<%= @gift.item_name %>
</p>

<p>
  <b>Location:</b>
  <%= @gift.provider_name %>
</p>

<p>
  <b>Message:</b>
  <%= @gift.message %>
</p>

<p>
  <b>Status:</b>
  <%= @gift.status %>
</p>

<%= link_to 'Back', gifts_path %>
