<p id="notice"><%= notice %></p>

<p>
  <b>Giver:</b>
  <%= @gift.giver_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= @gift.receiver_id %>
</p>

<p>
  <b>Menu item:</b>
  <%= @gift.item_id %>
</p>

<p>
  <b>Price:</b>
  <%= @gift.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @gift.quantity %>
</p>

<p>
  <b>Total:</b>
  <%= @gift.total %>
</p>

<p>
  <b>Credit card:</b>
  <%= @gift.credit_card %>
</p>

<p>
  <b>Provider:</b>
  <%= @gift.provider_id %>
</p>

<p>
  <b>Message:</b>
  <%= @gift.message %>
</p>

<p>
  <b>Special instructions:</b>
  <%= @gift.special_instructions %>
</p>

<p>
  <b>Redeem:</b>
  <%= @gift.redeem_id %>
</p>

<p>
  <b>Status:</b>
  <%= @gift.status %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
