<p id="notice"><%= notice %></p>

<%= list_icon_for @giver %> <%= @gift.giver_name %> 

bought you 

<%= @gift.quantity %> <%= @gift.item_name %>

<%= logo_from_id_for @gift.provider_id %>

located at <%= @gift.provider_name %>

<% if @gift.message %>
  Message:
  <%= @gift.message %>
<% end %>


<%= button_to "Send them a Drink", browse_with_contact_gifts_path(id: @gift.giver_id), :class => "btn" %>
<%= button_to 'Not Now', gifts_path, method: :get %>

Give this code to your server to Redeem: 
<a href="#" class="btn btn-large btn-primary disabled"><%= @redeem.redeem_code %></a>

Server's phone unavailable?
<div id="server_code_field">
  <%= simple_form_for @order do |f| %>
  <%= f.error_notification %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-horizontal">
    <%= f.hidden_field :redeem_id  %>
    <%= f.hidden_field :gift_id    %>
    <%= f.hidden_field :provider_id    %>
    <%= f.input :server_code, :input_html => { :maxlength => 4 } %>
  </div>
  <%= f.submit "Submit Server Code", :class => "btn" %>
  <% end %>
</div>

<script>
 
</script>
 