<p id="notice"><%= notice %></p>

<h4><%= list_icon_for @giver %> <%= @gift.giver_name %><span> bought you </span></h4>
<h4><%= @gift.quantity %> <%= @gift.item_name %></h4>
<h3>@ <%= @gift.provider_name %></h3>

<p>
  <b>Message:</b>
  <%= @gift.message %>
</p>

<h4>Give this code to your server to Redeem: 
  <a href="#" class="btn btn-large btn-primary disabled"><%= @redeem.redeem_code %></a>
  <hr />
</h4>
<h4>You can also enter the 4-digit Server Code here:
  <input type="text" placeholder="4 digit Server Code"> 
  <%= button_to 'Enter Server Code', '#' %>
  <hr />
</h4>

<%= button_to "Send them a Drink", browse_with_contact_gifts_path(id: @gift.giver_id) %>
<%= button_to 'Not Now', gifts_path, method: :get %>