<tr>

  <%= render 'email/blocks/receiver_image_td' %>

  <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;margin-bottom: 15px; margin-right: 0; padding: 0;">

      <!-- LINK to gift -->
      <p>Your Friend, <%= @gift.receiver_name %>, just joined Drinkboard and received your gift. </p>
      <p>At the <%= @merchant.name %></p>
      <p>
          <% @cart.each do |item| %>
        <p>
          <%= item["quantity"] %>&nbsp;<%= item["item_name"] %>
        </p>
          <% end %>
      </p>
    </p>
  </td>

</tr>