<div class="doubleColumn redeemDisplay">
<p id="notice"><%= notice %></p>
<div class="borderBox">
  <h3>Purchased on <%= time_ago_in_words(@gift.created_at) %>&nbsp;ago</h3>
  <h4 class="obj"><%= custom_image_tag(@giver,50,50)  %> <%= @giver.fullname %><span> bought </span></h4>
  <h3>Redeemed on <%= @order.created_at.to_formatted_s(:custom)  %>.<br />
  By server : <%= @server.username %></h3>
</div>
<%= link_to "<- Back to Orders", orders_merchant_path(@provider), remote: true %>
</div>