<!-- Header -->
  <div class="logoCrooked"></div>
  <div class="headerImage"></div>
  <div class="lineVertHeader lineVert"></div>
  <div class="loggedInBox">
  	<h6><%= link_to 'Logout', signout_path %></h6><h5>Welcome, <a href="/merchants"><%= @current_user.fullname %></a></h5>
  </div>
  <% if @provider %>
  <div class="vendorTitle">
  	<h5 class="vendorTitleText">
      <a href="/merchants/<%= @provider.id %>"><%= @provider.name %></a>
    </h5>
  	<h6 class="vendorAddress">
        <%= @provider.address %>
        <br />
  			<%= @provider.city_state_zip %>
  	</h6>
  </div>
  <% end %>
  <div class="lineHorizHeader lineHoriz"></div>
  	<div class="columnTopBlocker"></div>
      <% if @provider %>
  	  	<%= render 'merchant_options', tab: params[:action] %>
      <% end %>
