	<% description =  "enter description here" %>
<ul id="show<%= menu_item["id"] %>" class="menuItem menuItemPos">
	<li>
		<h5 class="miTitle" style="width:250px;">
    		<%= menu_item["item_name"] %>
    	</h5>
	</li>
	<li>
		<h5 class="miPrice" style="margin-top:8px;">
    		<%= menu_item["price"] %>
    	</h5>
	</li>
		<% if menu_item["description"].nil? || menu_item["description"].size == 0 %> 
		<% else %>
	<li>
		<h5 class="miDescription" style="width:300px;">
    		<%= menu_item["description"] %>
    	</h5>
	</li>
		<% end %>
</ul>
<div class="menuItemForm">
	<ul id="<%= menu_item["id"] %>" class="inputWrap rounded gradient inputWrapPos">
		<li><input type="text" placeholder="Item Name" value="<%= menu_item["item_name"] %>"
			class="miTitleForm rounded inputFieldObj inputFieldPos" />
		</li>
		<li><textarea placeholder="<%=  description %>" 
			class="miDescriptionForm rounded inputFieldObj inputFieldPos" style="resize: none;"><%= menu_item["description"] %></textarea>
		</li>
		<li>
			<h5 class="dollarSignPos dollarSignObj" >$</h5>
    		<input type="text" placeholder="Price" value="<%= menu_item["price"] %>" rows="2" 
    		class="inputFieldObj miPriceForm rounded">
    		<span class="menuListDelete buttonMenuList buttonDeletePos buttonImageUp">
        		<a href="">remove</a>
      		</span>
    	</li>
	</ul>
</div>