        <% if @provider.user_clearance(@current_user) == 'super' %>
<div class="merchantMenu merchantMenuPOS width1">
<!-- 	<%= link_to "User", staff_profile_merchant_path(@provider) %> 
 -->
    <%= link_to "Menu Builder", menu_builder_merchant_path(@provider), :id => 'menu', :class => "option" %>
    <%= link_to "Images", photos_merchant_path(@provider), :id => 'edit_photo', :class => "option" %> 
    <%= link_to "Info", edit_info_merchant_path(@provider), :id => 'edit_info', :class => "option" %> 
    <%= link_to "Bank Info", edit_bank_merchant_path(@provider), :id => 'edit_bank', :class => "option" %> 
    <%= link_to "Staff", staff_merchant_path(@provider), :id => 'staff', :class => "option" %>
 	<%= link_to "User", staff_profile_merchant_path(@provider), :id => 'staff_profile', :class => "option" %>
    <%= link_to "Home", merchant_path(@provider), :id => 'orders', :class => "option" %>

</div>
		<% else %>
<div class="merchantMenu merchantMenuPOS width2">
<!-- 	<%= link_to "User", staff_profile_merchant_path(@provider) %> 
 -->
    <%= link_to "Menu Builder", menu_merchant_path(@provider), :id => 'menu', :class => "option" %> 
    <%= link_to "Orders", orders_merchant_path(@provider), :id => 'orders', :class => "option" %> 
    <%= link_to "Images", photos_merchant_path(@provider), :id => 'edit_photo', :class => "option" %> 
    <%= link_to "Info", edit_info_merchant_path(@provider), :id => 'edit_info', :class => "option" %> 
    <%= link_to 'POS', pos_merchant_path(@provider), :id => 'help', :class => "option" %>
	<%= link_to "User", staff_profile_merchant_path(@provider), :id => 'staff_profile', :class => "option" %>
</div>
		<% end %>
<script>
    $('#<%= tab %>').css({color:'rgba(84,178,209,1)'});
</script>