<div class="redeemDisplay">
  <h1>Enter Customer Redeem Code : </h1>
    <div class="ordersDisplay" style="width:450px;">
      <%= form_for(@order, remote: true) do |f| %>
        <%= f.hidden_field :redeem_id  %>
        <%= f.hidden_field :gift_id  %>
        <%= f.hidden_field :employee_id  %>
        <%= f.hidden_field :provider_id  %>
        <div class="inputWrap" style="width:376px;">
          <%= f.text_field :redeem_code,  :input_html => { :maxlength => 4 }, :placeholder => "redeem code", :class => "miTitleForm rounded inputFieldObj formObj" %>
          <%= f.submit "Submit", class: "buttonInput buttonImageUp signInPOS", style: "margin-top: -45px;padding:4px;" %>
        </div>
      <% end %>
      <%= button_to 'Not Now', orders_merchant_path(@provider), remote: true, method: :get %>
    </div>
</div>

