<div class="sigDrinkWrapper menuCell">
			<div class="sigDrinkMenu">
				<div id="editButtonSigDrink" class="buttonSmallDown buttonSmallUp">
					<h5><a href="">edit</a></h5>
				</div>
				<h5 class="menuSectionHeader">
					Signature Drink
				</h5>
						<% if m2["description"] %>
							<% description = m2["description"] %>
						<% else %>
							<% description = "please enter text here describing your signature drink - ingredients / colors / textures" %>
						<% end %>

				<div class="sigDrinkEditWrapper editDescription rounded gradient">
					<input type="text" placeholder="<%= m2["item_name"] %>" class="sigDrinkTitle rounded" />
					<textarea placeholder="<%= description %>" class="sigDrinkDescription rounded"></textarea>
					<h5 class="menuSectionHeader dollarSign" >$</h5>
					<input type="text" placeholder="<%= m2["price"] %>" rows="2" class="sigDrinkPrice rounded">
					<div id="saveButtonSigDrink" class="buttonSmallDown buttonSmallUp">
						<h5><a href="">save</a></h5>
					</div>
				</div>

				<!-- Signature Drink Menu Box -->
				<div class="sigDrinkMenuBox">
					<h5 class="sigDrinkTitle itemTitle">
						<%= m2["item_name"] %>
					</h5>
					<h5 class="sigDrinkDescription itemDescription">
						<%= description %>
					</h5>
					<h5 class="sigDrinkPrice itemPrice">
						<%= m2["price"] %>
					</h5>
				</div>
			</div>
		</div>
