    	<!-- Start Bank Wrapper -->
<div class="bankCell POSsingleColumn">
	<h5 class="menuSectionHeader">
		Merchant Profile Information
	</h5>
	<%= form_for(@provider, remote: true) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchantSignUpObject rounded gradient">
    <div class="merchantSignUpBackground"></div>
    <div class="2merchantSignUpWrapper">
        <div class="field">
          <%= f.text_field :name ,       placeholder: 'Establishment Name'  %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :zinger ,     placeholder: 'One Line Zinger'  %>
        </div>
        <div class="field">                         
          <%= f.text_area :description , placeholder: 'Full Description', :rows => 2 %>
        </div> 
        <div class="field">                         
          <%= f.text_field :phone,   placeholder: 'Phone Number' , value: number_to_phone(@provider.phone, :area_code => true) %>
        </div>                                                                          
        <div class="field">                         
          <%= f.text_field :address,     placeholder: 'Street Address' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :city ,       placeholder: 'City' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :state,       placeholder: 'State' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :zip,         placeholder: 'Zip' %>
        </div>
        <div class="field">                         
          <%= f.text_field :sales_tax,   placeholder: 'Local Sales Tax' %>
        </div> 
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-large btn-info" %>
        </div> 
        <div id="ajax_response"></div> 
    </div>
  </div>

  <% end %>
</div>
