    	<!-- Start Bank Wrapper -->
<div class="bankCell POSsingleColumn">
	<h5 class="menuSectionHeader">
		Update Banking Information
	</h5>
	<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchantSignUpObject rounded gradient">
    <div class="merchantSignUpBackground"></div>
    <div class="2merchantSignUpWrapper">
        <div class="field">
          <%= f.text_field :account_name ,  placeholder: 'Merchant Bank Account Name'  %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :aba ,               placeholder: 'ABA number'  %>
        </div>
        <div class="field">                         
          <%= f.text_field :routing ,           placeholder: 'Routing Number' %>
        </div>
        <div class="field">
          <%= f.text_field :bank_account_name , placeholder: 'Bank Name'  %>
        </div>                                                                          
        <div class="field">                         
          <%= f.text_field :bank_address,       placeholder: 'Bank Address' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :bank_city ,         placeholder: 'Bank City' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :bank_state,         placeholder: 'Bank State' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :bank_zip,           placeholder: 'Bank Zip' %>
        </div>  
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-large btn-info" %>
        </div>  
    </div>
  </div>

  <% end %>
	</div>
	</div>
</div>