<div class="merchantSignInWrapper">
  <h2>Choose Establishment to sign into</h2>
  <table>
    <tr>
      
    </tr>
  
    <% @providers.each do |provider| %>
      <tr>
        <td><%= custom_image_tag(provider,100,100)  %></td>
        <td class="tdProviderName"><%= provider.name %></td>
        <td class="tdDescription"><%= provider.description %></td>
        <td class="tdAddress"><%= provider.full_address %></td>
        <td><%= button_to "Log In", merchant_path(provider  ),method: :get, :class => 'btn btn-large btn- info'%>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="backgroundBox"></div>
  <div class="backgroundBox2"></div>
</div>