

<% if @providers.count > 1 %>
<div class="merchantSignInWrapper POSfullPageWrap">
  <% if @current_user.admin %>
    <%= link_to 'ADMIN' %>
  <% end %>
  <h2>Choose Establishment to sign into</h2>
  <% count = @providers.count %>
  <table class="rounded gradient">
    <tr>
    </tr>
    <% @providers.each do |provider| %>
      <tr>
        <td class="imageBorder" style="margin: 10px; border-top-width: 1px; padding: 0px; height: 100px; width: 100px;"><%= custom_image_tag(provider,100,100)  %>
        </td>
        <td class="tdProviderName"><%= provider.name %></td>
        <td class="tdDescription"><%= provider.description %></td>
        <td class="tdAddress"><%= provider.full_address %></td>
        <td><%= button_to "Log In", merchant_path(provider  ),method: :get, :class => 'buttonImageUp tableButton'%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% else %>
<div class="merchantSignInWrapper POSfullPageWrap">
  <h2>This website is for Merchants only.</h2>
  <h3>If you are a merchant employee and are seeing this message,</h3>
  <h3>Please contact your employer to connect your Drinkboard account</h3>

</div>
<% end %>

