<p id="notice"><%= notice %></p>

<h4><%= list_icon_with_id_for @gift.receiver_id %> <%= @gift.receiver_name %><span> has been gifted </span></h4>
<h4><%= @gift.quantity %> <%= @gift.item_name %></h4>

<% if @redeem %>
  <h4>Enter the Customers 4-digit Redeem Code here:
    <input type="text" placeholder="4 digit Redeem Code">
    <%= button_to 'Enter Server Code', '#' %> <%= @redeem.redeem_code %>
    <hr />
  </h4>
<% else %>
  <h4>Customer has not Redeemed Gift on their Account yet</h4>
<% end %>
<h4>Your 4-digit Server Code is: 
  <a href="#" class="btn btn-large btn-primary disabled"><%= current_user.server_code || 'please set your server code' %></a>
  <hr />
</h4>
<h3><%= logo_from_id_for @gift.provider_id %>
@ <%= @gift.provider_name %></h3>
<%= button_to 'Not Now', redeems_merchant_path(@provider), method: :get %>