<div class="merchantShowWrapper">
<h2><%= @provider.name %></h2>
<%= custom_image_tag(@provider,200,200)  %>
<% if @provider.description %>
<h4>"<%= @provider.description %>"</h4>
<% end %>
<% if @provider.full_address %>
<h4><%= @provider.full_address %></h4>
<% end %>

<div class="center">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="panel">
        <%= link_to "Edit Photos", edit_photo_merchant_path(@provider) %> |
        <%= link_to "Edit Profile Information", edit_info_merchant_path(@provider) %> |
        <%= link_to "Edit Bank Information", edit_bank_merchant_path(@provider) %> |
        <%= link_to "Edit Servers", "#" %>
      </div>
      <div class="tab-pane fade" id="drinkboard">

        <%= render 'gifts/index', gifts: @gifts %>


      </div>
      <div class="tab-pane fade" id="activity">
        <p>Recent Activity At Location</p>
      </div>
      <div class="tab-pane fade" id="menu">
        <table class="table listed">
          <thead>
            <tr>
              <th>Category</th>
              <th>Name</th>
              <th>Detail</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @menu.each do |m| %>
              <% item = m[0] %>
              <% price = m[1] %>
            <tr>
              <td><%= image_tag get_category_from_item(item), {:class => 'iconListView'} %></td>
              <td><%= item.item_name %></td>
              <td><%= item.detail %></td>
              <td><%= price %></td>
            </tr>
            <% end %>
          </tbody>
        </table>       
      </div>
    </div>
  </div>
</div>


