<div class="menuBuilderBackground"></div>
<div class="merchantShowWrapper">
	<h2><%= @provider.name %></h2>
	<%= custom_image_tag(@provider,200,200)  %>
	<% if @provider.description %>
	<h4>"<%= @provider.description %>"</h4>
	<% end %>
	<% if @provider.full_address %>
	<h4><%= @provider.full_address %></h4>
	<% end %>

	<div class="merchantShowList">
			<%#= link_to "Orders", orders_merchant_path(@provider) %> |
	        <%= link_to "Menu Builder", menu_merchant_path(@provider) %> |
	        <%= link_to "Edit Photos", edit_photo_merchant_path(@provider) %> |
	        <%= link_to "Edit Profile Information", edit_info_merchant_path(@provider) %> |
	        <%= link_to "Edit Bank Information", edit_bank_merchant_path(@provider) %> |
	        <%#= link_to "Edit Servers", "#" %>
	</div>
</div>


