<div class="doubleColumn">
  <div class="merchantShowWrapper rounded gradient">
    <div class="imageBorder">
      <%= custom_image_tag(@provider,180,180)  %>
    </div>
    <% if @provider.zinger %>
      <h4>"<%= @provider.zinger %>"</h4>
    <% else %>
      <h4>"<%= @provider.description %>"</h4>
    <% end %>
  </div>
</div>


<div class="doubleColumn">
  <div class="merchantMenu staffProfileMenuPOS width3">
    <%= link_to "Today's Credits", '#', :id => "todayCredits" %>
    <%= link_to "Redeem", '#', :id => "redeemOrder" %>
    <%= link_to "Item #3", '#', :id => "#" %>
  </div>
</div>

