<!-- IE 9 Gradient Fix -->

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

<!-- Header -->
<% description =  "please enter description here" %>
<div class="menuMakerWrapper"> <!-- Background Image -->
  <div class="logoCrooked"></div>
  <div class="showHeaderImage"></div>
  <div class="lineVertHeader lineVert"></div>
  <div class="loggedInBox">
  	<h5>Logged in as: <a href="/home"><%= current_user.fullname %></a></h5>
  </div>
  
  <div class="vendorTitle">
  	<h5 class="vendorTitleText"><a href="/merchants/<%= @provider.id %>"><%= @provider.name %></a></h5>
  	<h6 class="vendorAddress"><%= @provider.address %><br />
  			<%= @provider.city_state_zip %>
  	</h6>
  </div>
  <div class="lineHorizHeader lineHoriz"></div>

  <div class="columnOne">
    <div class="columnTopBlocker"></div>
    <%= render 'merchant_options' %>
  <% @staff.each do |user| %>  
    <div class="employeeDisplay"> 
      <div class="employeeImage">
        <%= custom_image_tag(user,75,75)  %>
      </div>
      <div class="employeeText textTop">
        <%= user.username %>
      </div>
      <div class="employeeText">
        <%= user.full_address %>
      </div>
      <div class="employeeText">
        <%= number_to_phone user.phone %>
      </div>
<!--       <div class="giftText">      
          <div id="buttonEditWine" class="buttonSmallDown buttonUp"><a href="" class="">Active</a></div>
      </div> -->
    </div>
  <% end %>
  <div id="buttonAddEmp" class="buttonLargeDown buttonLargeUp buttonAddPosition">
    <h5><a href="">New</a></h5>
  </div>
<div class="employeeDisplay addDisplay">
    <div class="addEmployeeCell">
          <% if params[:email] %>
              <p>We just sent an email to that employee to join drinkboard.</p>
            <% else %>
              <%= form_tag(invite_employee_merchant_path(@provider), :method => "post") do %>
                <div class="employeeText">
                  <%= label_tag(:email, "Add Employee Via Email") %>
                </div>
                <span class="inputWrapper rounded gradient">
                  <input type="text" placeholder="Enter Email Address" id="email" name="email" class="inputEmploy"/>
                </span> 
                <%= submit_tag("Submit") %>
              <% end %>
            <% end %>
	   </div>
  </div>
</div>

<!-- <input name="commit" type="submit" value="Submit" /> -->