<div class="column">
    <div class="merchantShowWrapper rounded gradient profileShrink">
      <div class="showImage">
        <%= custom_image_tag(@user,180,180)  %>
      </div>
	  <h4><%= @user.username %></h4>
	  <h4><%= @user.handle %></h4>
	  <h4><%= @user.email %></h4>
	  <h4><%= number_to_phone(@user.phone, :area_code => true) %></h4>
	  <h4><%= @user.full_address %></h4>
    </div>
</div>

<div class="doubleColumn">
  <h2><%= link_to "Crop Avatar", crop_user_path(current_user) %></h2>
  <h2 id="editProfileLink"><%= link_to "Edit Profile", '#' %></h2>
  <h2><%= link_to "Upload Secure Image", crop_user_path(current_user) %></h2>
</div>

      <!-- Start Bank Wrapper -->

<div id="editProfileForm" class="bankCell POSsingleColumn">
  <h5 class="menuSectionHeader">
    Employee Profile Information
  </h5>
  <%= form_for(@user, remote: true) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchantSignUpObject rounded gradient">
    <div class="merchantSignUpBackground"></div>
    <div class="2merchantSignUpWrapper">
        <div class="field">
          <%= f.text_field :first_name , placeholder: 'First Name'  %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :last_name ,  placeholder: 'Last Name'  %>
        </div>
        <div class="field">                         
          <%= f.text_field :email , placeholder: 'Email' %>
        </div>                                                                          
        <div class="field">                         
          <%= f.text_field :address,     placeholder: 'Street Address' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :city ,       placeholder: 'City' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :state,       placeholder: 'State' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :zip,         placeholder: 'Zip' %>
        </div>
        <div class="field">                         
          <%= f.text_field :phone,   placeholder: 'Phone Number' , value: number_to_phone(@user.phone, :area_code => true) %>
        </div> 
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-large btn-info" %>
        </div> 
        <div id="ajax_response"></div> 
    </div>
  </div>

  <% end %>
</div>


