<h1>Listing cards</h1>

<table>
  <tr>
    <th>User</th>
    <th>Nickname</th>
    <th>Name</th>
    <th>Number digest</th>
    <th>Last four</th>
    <th>Month</th>
    <th>Year</th>
    <th>Csv</th>
    <th>brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.user_id %></td>
    <td><%= card.nickname %></td>
    <td><%= card.name %></td>
    <td><%= card.number_digest %></td>
    <td><%= card.last_four %></td>
    <td><%= card.month %></td>
    <td><%= card.year %></td>
    <td><%= card.csv %></td>
    <td><%= card.brand %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
