<% content_for :confirm_email_link do %>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 15px; margin-right: 0; padding: 0;">
    <a href="<%= TEST_URL %>/confirm_email?email=<%= @user.email %>&amp;user=<%= @user_id %>" style="color: #fff; background-color:rgba(84,178,209,1); padding: 5px 10px; margin: 10px; text-decoration: none;">Confirm Email</a>
  </p>
<% end %>


<!-- HERE is the main Body -->
<table style="width: 580px;" class="innertable" border="0" cellpadding="0"
cellspacing="0">
<tbody>
  <tr>
<!-- HERE is the main body image -->
    <td class="content" style="background-color: #ffffff; background-image:
    url('/spacers/background_body-top.gif');
    background-position: 0 0; background-repeat: repeat-x; padding: 38px 40px 0
    40px;" width="500">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
    18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px;
    margin-right: 0; padding: 0;"><%= @user.fullname %>,</p>
    <table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
    border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
          <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
          15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
          margin-bottom: 15px; margin-right: 0; padding: 0;">Welcome to Drinkboard!<br />Thank you for joining. Please click the link to confirm this email account.<br /><p><%= @user.email %> </p>
<!-- LINK to home web page -->
          <%= yield :confirm_email_link %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

<img src="/spacers/spacer.gif"
border="0" height="15" width="1" /></td>
</tr>
</tbody>
</table>