<% content_for :confirm_email_link do %>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 15px; margin-right: 0; padding: 0;">
    <a href="<%= TEST_URL %>/confirm_email?email=<%= @user.email %>&amp;user=<%= @user_id %>" style="color: #fff; background-color:#544ED1; padding: 5px 10px; margin: 10px; text-decoration: none;">Confirm Email</a>
  </p>
<% end %>




<%= render 'email/blocks/salutation', salute: "#{@user.fullname}," %>

<table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
      <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:15px; line-height: 20px; color: #323A45; margin-top: 0; margin-left: 0;margin-bottom: 15px; margin-right: 0; padding: 0;">
        Welcome to Drinkboard!<br />
        Thank you for joining. Please click the link to confirm this email account.<br />
        <p><%= @user.email %></p>

        <%= yield :confirm_email_link %>

      </p>
    </td>
  </tr>
</tbody>
</table>

