
<!-- HERE is the main Body -->
<table style="width: 580px;" class="innertable" border="0" cellpadding="0"
cellspacing="0">
<tbody>
  <tr>
<!-- HERE is the main body image -->
    <td class="content" style="background-color: #ffffff; background-image:
    url('/assets/spacers/background_body-top.gif');
    background-position: 0 0; background-repeat: repeat-x; padding: 38px 40px 0
    40px;" width="500">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
    18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px;
    margin-right: 0; padding: 0;">Welcome to Drinkboard,</p>
    <table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
    border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;
        margin: 0;" class="list-item" width="1">
        <%= image_tag 'icon114.png', :class => "list-image", :style => "-ms-interpolation-mode: bicubic;" , height: "100" , wdith: "114" , alt: "Logo Image" %>
        </td>

        <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">

          <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
          15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
          margin-bottom: 35px; margin-right: 0; padding: 0;">Wherever your friends may be, you can be there with Drinkboard.  Buy your friends a round from across the world.  Never miss a celebration or a birthday again. Technology finally helping you improve your life.</p>
<!-- LINK to home web page -->
        </td>
        <%= render 'email/blocks/openapp' %>

      </tr>
    </tbody>
  </table>
  <%= render 'email/blocks/download_browser' %>

  <%= render 'email/blocks/tips' %>

  <%= render 'email/blocks/cheers' %>

  <table style="margin: 0pt; padding: 0pt; border-top: 1px solid #cccccc;
  border-right: 0pt none ! important; border-left: 0pt none ! important;
  border-bottom: 0pt none ! important; width: 500px;" class="webby"
  border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="padding-right: 25px; padding-top: 20px; margin: 0;
      vertical-align: middle;" class="list-item imageBorder" valign="middle">
        <%= image_tag "tv_DC_soho.png", :style => "-ms-interpolation-mode: bicubic;border: 1px solid white;
	box-shadow: 1px 1px 3px 1px black;", height: "60", width: "89", alt: "Merchants" %>
      </td>
      <td style="padding: 0; margin: 0; vertical-align: middle;"
      valign="middle">
      <p style="color: #595959; font-family: 'Trebuchet MS', helvetica, sans serif;
      font-size: 12px; margin: 0; padding: 20px 0 0 0;">
        <span style="font-weight: bold;">Meet Our Partners</span>
        <br />We have curated an amazing group of fine establishments using our taste and sensibility.  We hope you will like their hard work. Please take a minute to look thru our partners.
        <a href="<%= PUBLIC_URL %>/merchants/index" style="color: #69aa35; text-decoration: none;">
          <span style="color: rgba(84,178,209,1);">Click here to be a partner&nbsp;&rarr;</span>
        </a>
      </p>
    </td>
  </tr>
</tbody>
</table>
<img src="/assets/spacers/spacer.gif"
border="0" height="15" width="1" /></td>
</tr>
</tbody>
</table>