

<%= render 'email/blocks/salutation', salute: "Hi #{@gift.giver_name}," %>

<table style="margin: 0pt; padding: 0pt; width: 100%;" class="list" border="0" cellpadding="0" cellspacing="0">
<tbody>

  <%= render 'email/blocks/notify_giver_order_complete' %>
  <%= render 'email/blocks/openapp' %>

</tbody>
</table>

<%= render 'email/blocks/tag_line' %>

<%= render 'email/blocks/cheers' %>

<%= render 'email/blocks/merchant_row' %>

