<%= render 'email/blocks/salutation', salute: "Hi #{@gift.giver_name}," %>

<table style="margin: 0; padding: 0; width: 100%;" class="list"border="0" cellpadding="0" cellspacing="0">
<tbody>

  <%= render 'email/blocks/notify_giver_created_user' %>

  <%= render 'email/blocks/openapp' %>

</tbody>
</table>

<%= render 'email/blocks/tag_line' %>

<%= render 'email/blocks/cheers' %>
