<% content_for :reset_password do %>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 100px;
  margin-bottom: 15px; margin-right: 0; padding: 0;">
    <a href="<%= PUBLIC_URL %>/account/resetpassword/<%= @user.reset_token %>" style="color: #fff; background-color:rgba(84,178,209,1); padding: 5px 10px; margin: 10px; text-decoration: none;">Reset your password here &rarr;</a>
  </p>
<% end %>
<% content_for :support do %>
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 15px; margin-right: 0; padding: 0;">Questions? There are many answers on our <a
  href="<%= PUBLIC_URL %>/home/faq"
  style="color: #69aa35; text-decoration: none;"><span style="color:
  rgba(84,178,209,1);">Drinkboard Support page</span></a> .</p>
<% end %>

    <%= render 'email/blocks/salutation', salute: "Dear #{@user.fullname}," %>

    <table style="margin: 0pt; padding: 0pt; width: 100%; border-bottom: 1px solid #ccc;" class="list"
    border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
          <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
          15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
          margin-bottom: 15px; margin-right: 0; padding: 0;">To reset your Drinkboard password, simply click the link below. That will take you to a webpage where you can save a new password.</p>

          <%= yield :reset_password %>
          <!-- LINK to reset password -->

        </td>
      </tr>
    </tbody>
    </table>

    <%= yield :support %>
    <!-- LINK to www. support -->

  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 10px; margin-right: 0; padding: 0;">If you were not trying to reset your password, don't worry - your account is still secure and no one has been given access to it. Most likely, someone just mistyped their email address while trying to reset their own password.</p>

  <%= render 'email/blocks/cheers', serious: true %>

