      <!-- Start Bank Wrapper -->
<div class="bankCell POSsingleColumn">
  <h5 class="menuSectionHeader">
    Brand Profile Information
  </h5>
  <% if @brand.has_photo? %>
  <div class="doubleColumn">
        <br />
    <%= link_to custom_image_tag(@brand, 300,160), add_photo_brand_path(@brand) %>
  </div>
  <% end %>
  <%= form_for @brand do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchantSignUpObject rounded gradient">
    <div class="merchantSignUpBackground"></div>
    <div class="2merchantSignUpWrapper">
        <div class="field">
          <%= f.text_field :name ,       placeholder: 'Brand Name'  %>
        </div>                                      
        <div class="field">                         
          <%= f.text_area :description , placeholder: 'Full Description', :rows => 2 %>
        </div>                                                                          
        <div class="field">                         
          <%= f.text_field :website,     placeholder: 'Website' %>
        </div>                                                                           
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-large btn-info" %>
        </div> 
        <div id="ajax_response"></div> 
    </div>
  </div>

  <% end %>
</div>


