      <!-- Start Bank Wrapper -->
<div class="bankCell POSsingleColumn">
  <h5 class="menuSectionHeader">
    Brand Profile Information
  </h5>
  <%= form_for(@brand, remote: true) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchantSignUpObject rounded gradient">
    <div class="merchantSignUpBackground"></div>
    <div class="2merchantSignUpWrapper">
        <div class="field">
          <%= f.text_field :name ,       placeholder: 'Brand Name'  %>
        </div>                                      
        <div class="field">                         
          <%= f.text_area :description , placeholder: 'Full Description', :rows => 2 %>
        </div> 
        <div class="field">                         
          <%= f.text_field :phone,   placeholder: 'Phone Number' , value: number_to_phone(@brand.phone, :area_code => true) %>
        </div>                                                                          
        <div class="field">                         
          <%= f.text_field :address,     placeholder: 'Street Address' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :city ,       placeholder: 'City' %>
        </div>                                      
        <div class="field">                         
          <%= f.text_field :state,       placeholder: 'State' %>
        </div>                                      
        <div class="actions">
          <%= f.submit "Create", class: "btn btn-large btn-info" %>
        </div> 
        <div id="ajax_response"></div> 
    </div>
  </div>

  <% end %>
</div>


