<div class="merchantMenu merchantMenuPOS width1">
	<%= link_to 'New Brand', new_brand_path, :id => 'new' %> |
	<%= link_to 'Index', brands_path, :id => 'index'  %> |
			<% if @brand && !@brand.new_record? %>
	<%= link_to 'Show', @brand, :id => 'show'  %> |
	<%= link_to 'Edit', edit_brand_path(@brand), :id => 'edit'  %> |
	<%= link_to 'Merchants', merchants_brand_path(@brand), :id => 'merchants'  %> |
	<%= link_to "Change Photo", add_photo_brand_path(@brand), :id => 'add_photo'  %>  
			<% end %>
</div>

<script>
    $('#<%= tab %>').css({color:'rgba(84,178,209,1)'});
</script>