<div class="merchantSignInWrapper POSfullPageWrap">
<% if @brands.count > 0 %>

<h1>Listing brands</h1>

<table>
  <tr style="color:#ccc">
    <th>Name</th>
    <th>Description</th>
    <th>Website</th>
    <th>Logo url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.description %></td>
        <td><%= brand.website %></td>
            <% if brand.banner.file.nil? %>
        <td></td>
            <% else %>
        <td><%= custom_image_tag(brand, 50, 50) %></td>
            <% end %>
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
</table>
<% end %>
<br />

<%= link_to 'New Brand', new_brand_path %>
</div>
