<div class="merchantSignInWrapper POSfullPageWrap">
<p id="notice"><%= notice %></p>

  <% if !@brand.banner.file.nil? %>
  <div class="doubleColumn">

    <%= link_to custom_image_tag(@brand, 600,320), add_photo_brand_path(@brand) %>
  </div>
  <% end %><h2>
  <b>Name:</b>
  <%= @brand.name %>
</h2>


<h2>
  <b>Description:</b>
  <%= @brand.description %>
</h2>

<h2>
  <b>Website:</b>
  <%= @brand.website %>
</h2>

<h2>
  <b>Super User:</b>
  <%= @brand.user.fullname %>
</h2>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Connect Merchants', merchants_brand_path(@brand) %> |
<%= link_to 'Index', brands_path %>
</div>