<h1>Listing sales</h1>

<table>
  <tr>
    <th>Gift</th>
    <th>Giver</th>
    <th>Card</th>
    <th>Request json</th>
    <th>Response json</th>
    <th>Status</th>
    <th>Provider</th>
    <th>Transaction</th>
    <th>Revenue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.gift_id %></td>
    <td><%= sale.giver_id %></td>
    <td><%= sale.card_id %></td>
    <td><%= sale.request_string %></td>
    <td><%= sale.response_string %></td>
    <td><%= sale.status %></td>
    <td><%= sale.provider_id %></td>
    <td><%= sale.transaction_id %></td>
    <td><%= sale.revenue %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
