<footer class="footer">
  <small>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li> | </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li> | </li>
      <li><%= link_to "News", news_path%></li>
      <li> | </li>
      <li><%= link_to "Learn More", learn_path %> </li> 
      <li> | </li>
      <li><%= merchant_tag(current_user) %></li>   
    </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Not #{current_user.username}?", signout_path, method: "delete"%></li>
    </ul>
  </nav>
</footer>