<footer class="footer">
  <small>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li> | </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li> | </li>
      <li><%= link_to "News", news_path%></li>
      <li> | </li>
      <li><%= link_to "Learn More", learn_path %> </li>
      <li> | </li>
      <% if @provider && params[:controller] == "merchants" %>
        <li><%= link_to "Merchants", merchants_path %></li>
      <% else %>
        <li><%= merchant_tag(current_user) %></li>
      <% end %>
      <li> | </li>
      <li><%= link_to "Add New Merchant", new_provider_path %></li>
    </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Not #{current_user.username}?", signout_path, method: "delete"%></li>
    </ul>
  </nav>
</footer>