<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'error' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

<!--!
<div class="loginHeader">
  <%= link_to image_tag("logoCap1.png"), home_path, {:class => "brand"} %>
</div>
 !-->
<div class="nav row-fluid">
  <% if signed_in? %>
  <ul class="nav"> 
    <li><%= link_to "Home", home_path %></li>   
    <li><%= link_to "Gifts", gifts_path %></li>
    <li><%= link_to "Buys", buy_gifts_path %></li>
    <li><%= link_to "Activity", activity_gifts_path %></li>
      <ul class="nav">
        <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings" %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: :delete %></li>
              </ul>
          </li>
      </ul>
      <% end %>
</div>
</div></div></div>

