<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1>
        <%= link_to image_tag("88-beer-glass-white.png"), home_path, {:class => "brand"} %>
      </h1>
      <%= link_to PAGE_NAME, home_path, {:class => "brand"} %>
      
      <div class="nav pull-right">
        <% if signed_in? %>
        <ul class="nav">
          
          <li><%= link_to "Gift", gifts_path %></li>
          <li><%= link_to "Buy", buy_gifts_path %></li>
          <li><%= link_to "Drinkboard", activity_gifts_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Learn", learn_path %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log Off", root_path %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
