<div class="headerColorBackground">
</div>

<div class="navbarWrapper">
  <ul class="navLoggedIn">
    <li class="logoHeader">
      <%#= link_to  home_path %>
    </li>

  <% if @provider && params[:controller] == "merchants" %>
    <li>
      <%= link_to @provider.name, '#' %>
    </li>
    <li>
      <%= link_to "Change Merchant", merchants_path %>
    </li>
      <% else %>
    <li>
      <%= link_to "Drinkboard", '#' %>
    </li>
    <li>
      <%= merchant_tag(current_user) %>
    </li> 
    <% end %> 
    <li>
      <%= link_to "Add Merchant", new_provider_path %>
    </li>
    <li>
      <%= link_to "Log Out", signout_path, method: :delete %>
    </li>
    <li class="appStoreLink">
    </li>
  </ul>
</div>


<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'info' : 'success' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
 

