<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'error' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

<!--!
<div class="loginHeader">
  <%= link_to image_tag("logoCap1.png"), home_path, {:class => "brand"} %>
</div>
 !-->
<div class="nav row-fluid">
        <% if signed_in? %>
        <ul class="nav">
          <% if @provider %>
            <li><%= link_to @provider.name, merchant_path(@provider) %></li>
            <li><%= link_to "Orders", orders_merchant_path(@provider) %></li>
          <% else %>
            <li><%= link_to "Merchants", merchants_path %></li>
          <% end %>

          <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings" %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Sign out", signout_path, method: :delete %></li>
                    </ul>
              </li>
          </ul>
          <li><%= link_to "Drinkboard-Home", home_path %></li>
            <% if @provider && params[:controller] == "merchants" %>
          <li><%= link_to "Merchants", merchants_path %></li>
            <% else %>
          <li><%= merchant_tag(current_user) %></li> 
            <% end %> 
          <li><%= link_to "Add New Merchant", new_provider_path %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
