<!DOCTYPE html>
<html>
<head>
  <title><%= PAGE_NAME %></title>
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% Time::DATE_FORMATS[:custom] = "%B %e at %I:%M %p" %>
  <% Time::DATE_FORMATS[:custom_form] = "%b %e" %>

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="centerMainWrapper wholePageOBJ">
        <% if signed_in? %>
            <%= render 'merchants/header' %>
        <% else %>
            <%= render 'layouts/intro' %>
        <% end %>

        <%= yield %>
    
    </div>

</body>

</html>
