<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @email_title || "Drinkboard Email Messenger" %></title>
  <% if params[:controller] == 'invite' %>
    <link rel="stylesheet" type="text/css" href="/assets/email/email">
  <% end %>
</head>

<body bgcolor="#e6e6e6" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;">

<table style="width: 100%;" bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td bgcolor="#e6e6e6" width="100%">

      <table style="width: 584px;" class="table" align="center" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td class="cell" width="584">

            <%= render 'layouts/email/view_in_web' %>

            <table style="width: 584px;" class="table" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="innercell" style="background-color: #fff; background-image: url('/backgroundBorderBar320.gif'); background-position: 0 0; background-repeat: repeat-y; padding-left: 2px; padding-right: 2px;" width="580">

                  <%= render 'layouts/email/email_header' %>

                  <%= yield %>

                </td>
              </tr>

              <%= render 'layouts/email/footer/footer_bar' %>

            </tbody>
            </table>

            <% if @social == 1 %>
              <%= render 'layouts/email/footer/email_footer' %>
            <% else %>
              <%= render 'layouts/email/footer/official_footer' %>
            <% end %>

          </td>
        </tr>
      </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
<img src="/spacers/open.gif" height="1" width="10">
</body>
</html>